<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="shortcut icon" href="/img/logo.png" type="image/x-icon">
    <style>
        .info-container {
            float: right;
            width: 300px;
            margin-left: 20px;
            padding: 10px;
            background-color: #f0f0f0;
            border: 1px solid #ccc;
        }
    </style>
</head>
<div th:insert="blocks/links :: div"></div>
<body style="background-color: #f2f0f8">
<div th:insert="blocks/header :: header"></div>
<div th:insert="blocks/adminSidebare :: adminSidebare"></div>
<main>
    <div class="table-responsive" style="width: 950px; margin-left: 27%">
        <h4 class="mb-3" style="color: #814de5">График качества оказания услуг</h4>
        <div class="chart-container">
            <canvas id="myChart" style="width: 100%; max-width: 600px; float: left;"></canvas>

        <div class="info-container">
            <h5>Информация о графике оценок</h5>
            <p>Каждая линия демонстрирует отдельный критерий оценок:
                <br> 1. Розовый - оценка маркировки
                <br> 2. Фиолетовый  - оценка состояния товара
                <br> 3. Голубой - оценка состояния товара
                <br> 4. Зеленый - оценка состояния товара
                <br> 5. Лавандовый  - оценка состояния товара
            </p>
        </div>
        </div>
        <div class="chart-container">
            <canvas id="newChart" style="width: 100%; max-width: 600px; float: left;"></canvas>

        <div class="info-container">
            <h5>Информация о графике роста качества оказания услуг</h5>
        </div>
        </div>

    </div>
</main>
</body>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
</script>
<script src="/js/generateGraf.js"></script>
</html>