<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="shortcut icon" href="/img/logo.png" type="image/x-icon">
</head>
<div th:insert="blocks/links :: div"></div>
<body style="background-color: #f2f0f8">
<div th:insert="blocks/header :: header"></div>
<div th:insert="blocks/adminSidebare :: adminSidebare"></div>
<main>
    <div class="table-responsive " style="width:950px;  margin-left: 27%">
        <h4 class="mb-3" style="color: #814de5">Просмотр аккаунтов</h4>
        <div th:name="search-sort" style="width: 950px; display: flex; align-items: center;">
            <div th:name="sort" style="width: 475px; display: flex; align-items: center;">
                <button class="btn btn-primary rounded-pill px-3" type="button" style="color: #f2f0f8; background-color: #814de5; border-color: #814de5">Отсортировать</button>
                <select class="form-select" style="margin-left: 10px; width: 150px">
                    <option value="" selected disabled>По признаку</option>
                    <option value="признак1">Признак 1</option>
                    <option value="признак2">Признак 2</option>
                    <option value="признак3">Признак 3</option>
                </select>
            </div>
            <div style="width: 475px; display: flex; align-items: end;">
                <span>с</span>
                <input class="form-control" type="date" placeholder="С" style="margin-left: 10px; width: 120px">
                <span>по</span>
                <input class="form-control" type="date" placeholder="По" style="margin-left: 10px; width: 120px">
            </div>

            <div th:name="search" style="width: 475px; display: flex; align-items: end;">
                <form role="search">
                    <input class="form-control" type="search" placeholder="Search" aria-label="Search" style="background-color: #814de5; color: #f2f0f8">
                </form>
                <select class="form-select" style="margin-left: 10px; width: 160px">
                    <option value="" selected disabled>По параметру</option>
                    <option value="признак1">Параметр 1</option>
                    <option value="признак2">Параметр 2</option>
                    <option value="признак3">Параметр 3</option>
                </select>
            </div>
        </div>

        <table class="table table-striped table-sm" style="margin-top: 20px">
            <thead>
            <tr>
                <th style="color: #814de5" scope="col">ID</th>
                <th  style="color: #814de5" scope="col">Логин</th>
                <th  style="color: #814de5" scope="col">Имя</th>
                <th  style="color: #814de5" scope="col">Фамилия</th>
                <th  style="color: #814de5" scope="col">Статус</th>
                <th  style="color: #814de5" scope="col">Подробнее</th>
            </tr>
            </thead>
            <tbody>
            <tr> <!--th:if="${applications}" th:each="ap:${applications}"-->
                <td  style="color: #1a1a1c"></td> <!--th:text="${}"-->
                <td  style="color: #1a1a1c"> <th/>
                <td  style="color: #1a1a1c"> <th/>
                <td  style="color: #1a1a1c" > <th/>
                <td  style="color: #1a1a1c" > <th/>
                <td><input type="button" value="Подробнее"   style="font-weight: bold;background-color: #814de5; color: #f2f0f8"  data-bs-toggle="modal"  data-bs-target="#modalDetails"></td>
            </tr>
            </tbody>
        </table>

    </div>

    <div class="modal fade" id="modalDetails" tabindex="-1" role="dialog" aria-labelledby="modalDetailsLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalDetailsLabel">Подробности о пользователе</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <label class="form-label">ID:</label>
                            <span id="userId"></span>
                        </div>
                        <div class="col-sm-6">
                            <label class="form-label">Логин:</label>
                            <span id="userLogin"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <label class="form-label">Email:</label>
                            <span id="userEmail"></span>
                        </div>
                        <div class="col-sm-6">
                            <label class="form-label">Пароль:</label>
                            <span id="userPassword"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <label class="form-label">Активация аккаунта:</label>
                            <span id="accountActivation"></span>
                        </div>
                        <div class="col-sm-6">
                            <label class="form-label">Статус:</label>
                            <span id="userStatus"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <label class="form-label">Дата рождения:</label>
                            <span id="userBirthdate"></span>
                        </div>
                        <div class="col-sm-6">
                            <label class="form-label">Имя:</label>
                            <span id="userFirstName"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <label class="form-label">Фамилия:</label>
                            <span id="userLastName"></span>
                        </div>
                        <div class="col-sm-6">
                            <label class="form-label">Отчество:</label>
                            <span id="userMiddleName"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <label class="form-label">Телефон:</label>
                            <span id="userPhone"></span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="w-100 btn btn-primary btn-lg" type="submit" data-bs-toggle="modal"
                            data-bs-target="#changeAccountModal"
                            style="margin-top: 20px;background-color: #814de5; color: #1a1a1c"
                            onclick="">Изменить
                    </button>
                    <button class="w-100 btn btn-primary btn-lg" type="submit"
                            style="margin-top: 20px;background-color: #814de5; color: #1a1a1c">Удалить
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="changeAccountModal" tabindex="-1" role="dialog" aria-labelledby="changeAccountModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="changeAccountModalLabel">Подробности о пользователе</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <label class="form-label">ID:</label>
                            <input type="text" id="changeUserId" class="form-control">
                        </div>
                        <div class="col-sm-6">
                            <label class="form-label">Логин:</label>
                            <input type="text" id="changeUserLogin" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <label class="form-label">Email:</label>
                            <input type="email" id="changeUserEmail" class="form-control">
                        </div>
                        <div class="col-sm-6">
                            <label class="form-label">Пароль:</label>
                            <input type="password" id="changeUserPassword" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <label class="form-label">Активация аккаунта:</label>
                            <input type="text" id="changeAccountActivation" class="form-control">
                        </div>
                        <div class="col-sm-6">
                            <label class="form-label">Статус:</label>
                            <input type="text" id="changeUserStatus" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <label class="form-label">Дата рождения:</label>
                            <input type="date" id="changeUserBirthdate" class="form-control">
                        </div>
                        <div class="col-sm-6">
                            <label class="form-label">Имя:</label>
                            <input type="text" id="changeUserFirstName" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <label class="form-label">Фамилия:</label>
                            <input type="text" id="changeUserLastName" class="form-control">
                        </div>
                        <div class="col-sm-6">
                            <label class="form-label">Отчество:</label>
                            <input type="text" id="changeUserMiddleName" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <label class="form-label">Телефон:</label>
                            <input type="tel" id="changeUserPhone" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="w-100 btn btn-primary btn-lg" type="submit"
                            style="margin-top: 20px;background-color: #814de5; color: #1a1a1c">Сохранить
                    </button>

                </div>
            </div>
        </div>
    </div>
</main>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script>
    // function findApplication(id){
    //     fetch('/user/findApplication/' + id,{
    //         method: 'GET'
    //     }).then(response=> response.json())
    //         .then(data=>{
    //             const orderNumber = document.getElementById("orderNumber");
    //             const itemCount = document.getElementById("itemCount");
    //             const deliveryDate = document.getElementById("deliveryDate");
    //             const orderDate = document.getElementById("orderDate");
    //             const orderStatus = document.getElementById("orderStatus");
    //             const ttn = document.getElementById("ttn");
    //             const declaration = document.getElementById("declaration");
    //             const cmr = document.getElementById("cmr");
    //
    //             orderNumber.textContent = data.idApplication;
    //             itemCount.textContent = data.countPositionProducts;
    //             deliveryDate.textContent = data.datePost;
    //             orderDate.textContent = data.dateZav;
    //             orderStatus.textContent = "В ожидании";
    //             ttn.textContent = data.goodTransportDocument.goodsTransportDocumentNumbers;
    //             declaration.textContent = data.declarationTD.declarationNumber;
    //             cmr.textContent = data.crm;
    //         });
    // }
</script>
</html>