<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="shortcut icon" href="/img/logo.png" type="image/x-icon">

</head>
<div th:insert="blocks/links :: div"></div>
<body style="background-color: #f2f0f8">
<div th:insert="blocks/header :: header"></div>
<div th:insert="blocks/clientSidebare :: clientSidebare"></div>
<main>
  <div class="col-md-7 col-lg-8" style="margin-top:-88%; margin-left: 27%; ">
    <h4 class="mb-3" style="color: #814de5"> Оформление CMR</h4>
    <form class="needs-validation" novalidate="" th:object="${crm}" th:action="*{'/client/addCRM'}" method="post">

      <div style="height: 200px; width: 945px;  border-color: #814de5; border-style: solid; border-radius: 10px; margin-top: 2%">
        <h5 style="margin-left: 1%">1 Отправитель</h5>
        <div style="margin-left: 2%; margin-top: -2%">
          <div class="row" style="margin-top: 20px;">
            <div class="col-sm-3">
              <label class="form-label" style="color: #1a1a1c">ИНН/КПП</label>
              <input type="text" class="form-control" id="INN/KPP" placeholder="" value="" required="" th:field="${crm.sender.taxId}" >
              <div class="invalid-feedback">
                Вы не заполнили ИНН/КПП.
              </div>
            </div>

            <div class="col-sm-3">
              <label class="form-label" style="color: #1a1a1c">Название организации</label>
              <input type="text" class="form-control" id="organizationName" placeholder="Название организации" value="" required="" th:field="${crm.sender.organizationName}" >
              <div class="invalid-feedback">
                Вы не заполнили название организации.
              </div>
            </div>

            <div class="col-sm-3">
              <label class="form-label" style="color: #1a1a1c">Страна</label>
              <input type="text" class="form-control" id="country" placeholder="Страна" value="" required="" th:field="${crm.sender.address.city}" >
              <div class="invalid-feedback">
                Вы не заполнили страну.
              </div>
            </div>

            <div class="col-sm-3">
              <label class="form-label" style="color: #1a1a1c; margin-left: -1%">Почтовый код</label>
              <input type="text" class="form-control" id="postalCode" placeholder="Почтовый код" value="" required="" style="margin-left: -5px;" th:field="${crm.sender.address.postalCode}" >
              <div class="invalid-feedback">
                Вы не заполнили почтовый код.
              </div>
            </div>

            <div class="col-sm-3">
              <label class="form-label" style="color: #1a1a1c">Область</label>
              <input type="text" class="form-control" id="region" placeholder="Область" value="" required="" th:field="${crm.sender.address.region}" >
              <div class="invalid-feedback">
                Вы не заполнили область.
              </div>
            </div>

            <div class="col-sm-3">
              <label class="form-label" style="color: #1a1a1c">Населённый пункт</label>
              <input type="text" class="form-control" id="city" placeholder="Населённый пункт" value="" required="" th:field="${crm.sender.address.settlement}" >
              <div class="invalid-feedback">
                Вы не заполнили населённый пункт.
              </div>
            </div>

            <div class="col-sm-3">
              <label class="form-label" style="color: #1a1a1c">Дом</label>
              <input type="text" class="form-control" id="house" placeholder="Дом" value="" required="" th:field="${crm.sender.address.build}" >
              <div class="invalid-feedback">
                Вы не заполнили дом.
              </div>
            </div>

            <div class="col-sm-3">
              <label class="form-label" style="color: #1a1a1c;">ОГРН</label>
              <input type="text" class="form-control" id="OGRN" placeholder="" value="" required="" style="margin-left: -5px;" th:field="${crm.sender.registrationCode}" >
              <div class="invalid-feedback">
                Вы не заполнили ОГРН.
              </div>
            </div>
          </div>
        </div>
      </div>

      <div style="height: 200px; width: 945px;  border-color: #814de5; border-style: solid;; border-radius: 10px; margin-top: 2%">
        <h5 style="margin-left: 1%">2 Получатель</h5>
        <div style="margin-left: 2%; margin-top: -2%">
          <div class="row" style="margin-top: 20px;">
            <div class="col-sm-3">
              <label class="form-label" style="color: #1a1a1c">ИНН/КПП</label>
              <input type="text" class="form-control" id="RecipINN/KPP" placeholder="" value="" required="" th:field="${crm.resipient.taxId}">
              <div class="invalid-feedback">
                Вы не заполнили ИНН/КПП.
              </div>
            </div>

            <div class="col-sm-3">
              <label class="form-label" style="color: #1a1a1c">Название организации</label>
              <input type="text" class="form-control" id="RecipOrganizationName" placeholder="Название организации" value="" required="" th:field="${crm.resipient.organizationName}">
              <div class="invalid-feedback">
                Вы не заполнили название организации.
              </div>
            </div>

            <div class="col-sm-3">
              <label class="form-label" style="color: #1a1a1c">Страна</label>
              <input type="text" class="form-control" id="RecipCountry" placeholder="Страна" value="" required="" th:field="${crm.resipient.address.city}">
              <div class="invalid-feedback">
                Вы не заполнили страну.
              </div>
            </div>

            <div class="col-sm-3">
              <label class="form-label" style="color: #1a1a1c; margin-left: -1%">Почтовый код</label>
              <input type="text" class="form-control" id="RecipPostalCode" placeholder="Почтовый код" value="" required="" style="margin-left: -5px; " th:field="${crm.resipient.address.postalCode}">
              <div class="invalid-feedback">
                Вы не заполнили почтовый код.
              </div>
            </div>

            <div class="col-sm-3">
              <label class="form-label" style="color: #1a1a1c">Область</label>
              <input type="text" class="form-control" id="RecipRegion" placeholder="Область" value="" required="" th:field="${crm.resipient.address.region}">
              <div class="invalid-feedback">
                Вы не заполнили область.
              </div>
            </div>

            <div class="col-sm-3">
              <label class="form-label" style="color: #1a1a1c">Населённый пункт</label>
              <input type="text" class="form-control" id="RecipCity" placeholder="Населённый пункт" value="" required="" th:field="${crm.resipient.address.settlement}">
              <div class="invalid-feedback">
                Вы не заполнили населённый пункт.
              </div>
            </div>

            <div class="col-sm-3">
              <label class="form-label" style="color: #1a1a1c">Дом</label>
              <input type="text" class="form-control" id="RecipHouse" placeholder="Дом" value="" required="" th:field="${crm.resipient.address.build}">
              <div class="invalid-feedback">
                Вы не заполнили дом.
              </div>
            </div>

            <div class="col-sm-3">
              <label class="form-label" style="color: #1a1a1c;">ОГРН</label>
              <input type="text" class="form-control" id="RecipOGRN" placeholder="" value="" required="" style="margin-left: -5px;" th:field="${crm.resipient.registrationCode}">
              <div class="invalid-feedback">
                Вы не заполнили ОГРН.
              </div>
            </div>
          </div>
        </div>
      </div>

      <div style="height: 200px; width: 945px; border-color: #814de5; border-style: solid;; border-radius: 10px; margin-top: 2%">
        <h5 style="margin-left: 1%">3 Место разгрузки</h5>
        <div style="margin-left: 2%; margin-top: -2%">

          <div class="row" style="margin-top: 20px;">
            <div class="col-sm-6">
              <label class="form-label" style="color: #1a1a1c">Страна</label>
              <input type="text" class="form-control" id="WHCountry" placeholder="Страна" value="" required="" th:field="${crm.countryWH}">
              <div class="invalid-feedback">
                Вы не заполнили страну.
              </div>
            </div>

            <div class="col-sm-6">
              <label class="form-label" style="color: #1a1a1c">Город</label>
              <input type="text" class="form-control" id="WHCity" placeholder="Город" value="" required="" th:field="${crm.cityWH}">
              <div class="invalid-feedback">
                Вы не заполнили город.
              </div>
            </div>

            <div class="col-sm-6">
              <label class="form-label" style="color: #1a1a1c">Улица</label>
              <input type="text" class="form-control" id="WHStreet" placeholder="Улица" value="" required="" th:field="${crm.streetWH}">
              <div class="invalid-feedback">
                Вы не заполнили улицу.
              </div>
            </div>

            <div class="col-sm-6">
              <label class="form-label" style="color: #1a1a1c">Номер дома</label>
              <input type="text" class="form-control" id="WHHouseNumber" placeholder="Номер дома" value="" required="" th:field="${crm.houseNumberWH}">
              <div class="invalid-feedback">
                Вы не заполнили номер дома.
              </div>
            </div>
          </div>

        </div>
      </div>

      <div style="height: 200px; width: 945px; border-color: #814de5; border-style: solid;; border-radius: 10px; margin-top: 2%">
        <h5 style="margin-left: 1%">4 Место и дата погрузки</h5>
        <div style="margin-left: 2%; margin-top: -2%">

          <div class="row" style="margin-top: 20px;">
            <div class="col-sm-6">
              <label class="form-label" style="color: #1a1a1c">Страна</label>
              <input type="text" class="form-control" id="LoadingCountry" placeholder="Страна" value="" required="" th:field="${crm.loadingCountry}">
              <div class="invalid-feedback">
                Вы не заполнили страну.
              </div>
            </div>

            <div class="col-sm-6">
              <label class="form-label" style="color: #1a1a1c">Город</label>
              <input type="text" class="form-control" id="LoadingCity" placeholder="Город" value="" required="" th:field="${crm.loadingCity}">
              <div class="invalid-feedback">
                Вы не заполнили город.
              </div>
            </div>

            <div class="col-sm-6">
              <label class="form-label" style="color: #1a1a1c">Улица</label>
              <input type="text" class="form-control" id="LoadingStreet" placeholder="Улица" value="" required="" th:field="${crm.loadingStreet}">
              <div class="invalid-feedback">
                Вы не заполнили улицу.
              </div>
            </div>

            <div class="col-sm-2">
              <label class="form-label" style="color: #1a1a1c">Номер дома</label>
              <input type="text" class="form-control" id="LoadingHouseNumber" placeholder="Номер дома" value="" required="" th:field="${crm.loadingHouseNumber}">
              <div class="invalid-feedback">
                Вы не заполнили номер дома.
              </div>
            </div>


            <div class="col-sm-4">
              <label class="form-label" style="color: #1a1a1c">Дата погрузки</label>
              <input type="date" class="form-control" id="LoadingDate" placeholder="Дата" value="" required="" th:field="${crm.loadingDate}">
              <div class="invalid-feedback">
                Вы не заполнили дату.
              </div>
            </div>
          </div>

        </div>
      </div>

      <div style="height: 350px; width: 945px; border-color: #814de5; border-style: solid; border-radius: 10px; margin-top: 2%">
        <h5 style="margin-left: 1%">5 Прилагаемые документы</h5>
        <div style="margin-left: 2%; margin-top: -2%">

          <div class="row" style="margin-top: 20px;">
            <div class="col-sm-6">
              <label class="form-label" style="color: #1a1a1c">Счет-фактура (invoice)</label>
              <input type="text" class="form-control" id="InvoiceDocument" required="" th:field="${crm.invoiceDocument}">
              <div class="invalid-feedback">
                Вы не приложили счет-фактуру.
              </div>
            </div>

            <div class="col-sm-6">
              <label class="form-label" style="color: #1a1a1c">Отгрузочная спецификация</label>
              <input type="text" class="form-control" id="ShippingSpecificationDocument" required="" th:field="${crm.shippingSpecificationDocument}">
              <div class="invalid-feedback">
                Вы не приложили отгрузочную спецификацию.
              </div>
            </div>
          </div>

          <div class="row" style="margin-top: 5px;">
            <div class="col-sm-6">
              <label class="form-label" style="color: #1a1a1c">Сертификат качества</label>
              <input type="text" class="form-control" id="QualityCertificateDocument" th:field="${crm.qualityCertificateDocument}">
              <div class="invalid-feedback">
                Вы не приложили сертификат качества.
              </div>
            </div>

            <div class="col-sm-6">
              <label class="form-label" style="color: #1a1a1c">Ветеринарный сертификат</label>
              <input type="text" class="form-control" id="VeterinaryCertificateDocument" th:field="${crm.veterinaryCertificateDocument}">
              <div class="invalid-feedback">
                Вы не приложили ветеринарный сертификат.
              </div>
            </div>
          </div>

          <div class="row" style="margin-top: 5px;">
            <div class="col-sm-6">
              <label class="form-label" style="color: #1a1a1c">Карантинный сертификат</label>
              <input type="text" class="form-control" id="QuarantineCertificateDocument" th:field="${crm.quarantineCertificateDocument}">
              <div class="invalid-feedback">
                Вы не приложили карантинный сертификат.
              </div>
            </div>

            <div class="col-sm-6">
              <label class="form-label" style="color: #1a1a1c">Сертификат о происхождении</label>
              <input type="text" class="form-control" id="CertificateOfOriginDocument" th:field="${crm.certificateOfOriginDocument}">
              <div class="invalid-feedback">
                Вы не приложили сертификат о происхождении.
              </div>
            </div>
          </div>

          <div class="row" style="margin-top: 5px;">
            <div class="col-sm-6">
              <label class="form-label" style="color: #1a1a1c">Акт загрузки</label>
              <input type="text" class="form-control" id="LoadingCertificateDocument" th:field="${crm.loadingCertificateDocument}">
              <div class="invalid-feedback">
                Вы не приложили акт загрузки.
              </div>
            </div>
          </div>

        </div>
      </div>

      <div style="height: 200px; width: 945px; border-color: #814de5; border-style: solid; border-radius: 10px; margin-top: 2%">
        <h5 style="margin-left: 1%">6-9</h5>
        <div class="row" style="margin-left: 2%; margin-top:  1%;">
          <div class="col-sm-6">
            <label class="form-label" style="color: #1a1a1c">Количество грузовых мест</label>
            <input type="text" class="form-control" id="CargoQuantity" th:field="${crm.cargoQuantity}">
          </div>

          <div class="col-sm-6">
            <label class="form-label" style="color: #1a1a1c">Наименование груза</label>
            <input type="text" class="form-control" id="CargoName" th:field="${crm.cargoName}">
          </div>
        </div>

        <div class="row" style="margin-left: 2%; ">
          <div class="col-sm-6">
            <label class="form-label" style="color: #1a1a1c">Род упаковки</label>
            <input type="text" class="form-control" id="PackagingType" th:field="${crm.nackagingType}">
          </div>

          <div class="col-sm-6">
            <label class="form-label" style="color: #1a1a1c">Номера</label>
            <input type="text" class="form-control" id="Numbers" th:field="${crm.numbers}">
          </div>
        </div>
      </div>

      <div style="display: flex; flex-wrap: wrap; width: 950px">

        <div style="height: 100px; width: 310px; border-color: #814de5; border-style: solid; border-radius: 10px; margin-top: 2%; margin-right: 10px;">
          <h5 style="margin-left: 1%">10 Статистический код</h5>
          <div style="margin-left: 2%; margin-top: -2%">
            <div class="row" style="margin-top: 20px;">
              <div class="col-sm-11">
                <input type="text" class="form-control" id="statistikCode" placeholder="" value="" required="" style="width: 100%;" th:field="${crm.statistikCode}">
                <div class="invalid-feedback">
                  Вы не указали статистический код.
                </div>
              </div>
            </div>
          </div>
        </div>

        <div style="height: 100px; width: 310px; border-color: #814de5; border-style: solid; border-radius: 10px; margin-top: 2%; margin-right: 10px;">
          <h5 style="margin-left: 1%">11 Суммарный вес брутто</h5>
          <div style="margin-left: 2%; margin-top: -2%">
            <div class="row" style="margin-top: 20px;">
              <div class="col-sm-11">
                <input type="number" class="form-control" id="grossWeight" placeholder="" value="" required="" style="width: 100%;" th:field="${crm.grossWeight}">
                <div class="invalid-feedback">
                  Вы не указали суммарный вес брутто.
                </div>
              </div>
            </div>
          </div>
        </div>

        <div style="height: 100px; width: 310px; border-color: #814de5; border-style: solid; border-radius: 10px; margin-top: -100px; margin-left: 640px;">
          <h5 style="margin-left: 1%">12 Объем</h5>
          <div style="margin-left: 2%; margin-top: -2%">
            <div class="row" style="margin-top: 20px;">
              <div class="col-sm-11">
                <input type="number" step="0.01" class="form-control" id="volume" placeholder="" value="" required="" style="width: 100%;" th:field="${crm.volume}">
                <div class="invalid-feedback">
                  Вы не указали объем.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div style="height: 300px; width: 950px; border-color: #814de5; border-style: solid; border-radius: 10px; margin-top: 2%;">
        <h5 style="margin-left: 1%">13 Таможенная обработка</h5>
        <div style="margin-left: 2%; margin-top: -2%">
          <div class="row" style="margin-top: 20px;">
            <div class="col-sm-4">
              <label class="form-label" style="color: #1a1a1c">Название таможенного поста</label>
              <input type="text" class="form-control" id="customsPostName" placeholder="Введите название таможенного поста" value="" required="" style="width: 100%;" th:field="${crm.customsProcessing.customsPostName}">
              <div class="invalid-feedback">
                Вы не указали название таможенного поста.
              </div>
            </div>
            <div class="col-sm-4">
              <label class="form-label" style="color: #1a1a1c">Код таможни</label>
              <input type="text" class="form-control" id="customsCode" placeholder="Введите код таможни" value="" required="" style="width: 100%;" th:field="${crm.customsProcessing.customsCode}">
              <div class="invalid-feedback">
                Вы не указали код таможни.
              </div>
            </div>
          </div>
          <div class="row" style="margin-top: 20px;">
            <div class="col-sm-12">
              <label class="form-label" style="color: #1a1a1c">Юридическое название СВХ и его адрес</label>
              <input type="text" class="form-control" id="svhNameAndAddress" placeholder="Введите юридическое название СВХ и его адрес" value="" required="" style="width: 100%;" th:field="${crm.customsProcessing.svhNameAndAddress}">
              <div class="invalid-feedback">
                Вы не указали юридическое название СВХ и его адрес.
              </div>
            </div>
          </div>
          <div class="row" style="margin-top: 20px;">
            <div class="col-sm-4">
              <label class="form-label" style="color: #1a1a1c">Номер лицензии</label>
              <input type="text" class="form-control" id="licenseNumber" placeholder="Введите номер лицензии" value="" required="" style="width: 100%;" th:field="${crm.customsProcessing.licenseNumber}">
              <div class="invalid-feedback">
                Вы не указали номер лицензии.
              </div>
            </div>
            <div class="col-sm-4">
              <label class="form-label" style="color: #1a1a1c">Дата выдачи</label>
              <input type="date" class="form-control" id="issueDate" required="" style="width: 100%;" th:field="${crm.customsProcessing.issueDate}">
              <div class="invalid-feedback">
                Вы не указали дату выдачи.
              </div>
            </div>
          </div>
        </div>
      </div>

      <div style="height: 200px; width: 950px; border-color: #814de5; border-style: solid; border-radius: 10px; margin-top: 2%;">
        <h5 style="margin-left: 1%">14 Возврат</h5>
        <div style="margin-left: 2%; margin-top: -2%">
          <div class="row" style="margin-top: 20px;">
            <div class="col-sm-6">
              <label class="form-label" style="color: #1a1a1c">Страна</label>
              <input type="text" class="form-control" id="returnCountry" placeholder="Введите страну" value="" required="" style="width: 100%;" th:field="${crm.returnCountry}">
              <div class="invalid-feedback">
                Вы не указали страну.
              </div>
            </div>
            <div class="col-sm-6">
              <label class="form-label" style="color: #1a1a1c">Город</label>
              <input type="text" class="form-control" id="returnCity" placeholder="Введите город" value="" required="" style="width: 100%;" th:field="${crm.returnCity}">
              <div class="invalid-feedback">
                Вы не указали город.
              </div>
            </div>
          </div>
          <div class="row" style="margin-top: 20px;">
            <div class="col-sm-6">
              <label class="form-label" style="color: #1a1a1c">Улица</label>
              <input type="text" class="form-control" id="returnStreet" placeholder="Введите улицу" value="" required="" style="width: 100%;" th:field="${crm.returnStreet}">
              <div class="invalid-feedback">
                Вы не указали улицу.
              </div>
            </div>
            <div class="col-sm-6">
              <label class="form-label" style="color: #1a1a1c">Дом</label>
              <input type="text" class="form-control" id="returnHouse" placeholder="Введите дом" value="" required="" style="width: 100%;" th:field="${crm.returnHouse}">
              <div class="invalid-feedback">
                Вы не указали дом.
              </div>
            </div>
          </div>
        </div>
      </div>

      <div style="height: 125px; width: 950px; border-color: #814de5; border-style: solid; border-radius: 10px; margin-top: 2%;">
        <h5 style="margin-left: 1%">15 Условия оплаты</h5>
        <div style="margin-left: 2%; margin-top: -2%">
          <div class="row" style="margin-top: 20px;">
            <div class="col-sm-12">
              <label class="form-label" style="color: #1a1a1c">Условия оплаты</label>
              <input type="text" class="form-control" id="paymentTerms" placeholder="Введите условия оплаты" value="" required="" style="width: 100%;" th:field="${crm.paymentTerms}">
              <div class="invalid-feedback">
                Вы не заполнили поле с условиями оплаты.
              </div>
            </div>
          </div>
        </div>
      </div>

      <div style="height: 200px; width: 945px;  border-color: #814de5; border-style: solid; border-radius: 10px; margin-top: 2%">
        <h5 style="margin-left: 1%">16 Перевозчик</h5>
        <div style="margin-left: 2%; margin-top: -2%">
          <div class="row" style="margin-top: 20px;">
            <div class="col-sm-3">
              <label class="form-label" style="color: #1a1a1c">ИНН/КПП</label>
              <input type="text" class="form-control" id="perINN/KPP" placeholder="" value="" required="" th:field="${crm.carrier.taxId}">
              <div class="invalid-feedback">
                Вы не заполнили ИНН/КПП.
              </div>
            </div>

            <div class="col-sm-3">
              <label class="form-label" style="color: #1a1a1c">Название организации</label>
              <input type="text" class="form-control" id="perorganizationName" placeholder="Название организации" value="" required="" th:field="${crm.carrier.organizationName}">
              <div class="invalid-feedback">
                Вы не заполнили название организации.
              </div>
            </div>

            <div class="col-sm-3">
              <label class="form-label" style="color: #1a1a1c">Страна</label>
              <input type="text" class="form-control" id="percountry" placeholder="Страна" value="" required="" th:field="${crm.carrier.address.city}">
              <div class="invalid-feedback">
                Вы не заполнили страну.
              </div>
            </div>

            <div class="col-sm-3">
              <label class="form-label" style="color: #1a1a1c; margin-left: -1%">Почтовый код</label>
              <input type="text" class="form-control" id="perpostalCode" placeholder="Почтовый код" value="" required="" style="margin-left: -5px;" th:field="${crm.carrier.address.postalCode}">
              <div class="invalid-feedback">
                Вы не заполнили почтовый код.
              </div>
            </div>

            <div class="col-sm-3">
              <label class="form-label" style="color: #1a1a1c">Область</label>
              <input type="text" class="form-control" id="perregion" placeholder="Область" value="" required="" th:field="${crm.carrier.address.region}">
              <div class="invalid-feedback">
                Вы не заполнили область.
              </div>
            </div>

            <div class="col-sm-3">
              <label class="form-label" style="color: #1a1a1c">Населённый пункт</label>
              <input type="text" class="form-control" id="percity" placeholder="Населённый пункт" value="" required="" th:field="${crm.carrier.address.settlement}">
              <div class="invalid-feedback">
                Вы не заполнили населённый пункт.
              </div>
            </div>

            <div class="col-sm-3">
              <label class="form-label" style="color: #1a1a1c">Дом</label>
              <input type="text" class="form-control" id="perhouse" placeholder="Дом" value="" required="" th:field="${crm.carrier.address.build}">
              <div class="invalid-feedback">
                Вы не заполнили дом.
              </div>
            </div>

            <div class="col-sm-3">
              <label class="form-label" style="color: #1a1a1c;">ОГРН</label>
              <input type="text" class="form-control" id="perOGRN" placeholder="" value="" required="" style="margin-left: -5px;" th:field="${crm.carrier.address.ogrnNumber}">
              <div class="invalid-feedback">
                Вы не заполнили ОГРН.
              </div>
            </div>
          </div>
        </div>
      </div>

      <div style="height: 200px; width: 945px;  border-color: #814de5; border-style: solid; border-radius: 10px; margin-top: 2%">
        <h5 style="margin-left: 1%">17 Последующий перевозчик</h5>
        <div style="margin-left: 2%; margin-top: -2%">
          <div class="row" style="margin-top: 20px;">
            <div class="col-sm-3">
              <label class="form-label" style="color: #1a1a1c">ИНН/КПП</label>
              <input type="text" class="form-control" id="poslperINN/KPP" placeholder="" value="" required="" th:field="${crm.subsequentCarrier.taxId}">
              <div class="invalid-feedback">
                Вы не заполнили ИНН/КПП.
              </div>
            </div>

            <div class="col-sm-3">
              <label class="form-label" style="color: #1a1a1c">Название организации</label>
              <input type="text" class="form-control" id="poslperorganizationName" placeholder="Название организации" value="" required=""th:field="${crm.subsequentCarrier.organizationName}">
              <div class="invalid-feedback">
                Вы не заполнили название организации.
              </div>
            </div>

            <div class="col-sm-3">
              <label class="form-label" style="color: #1a1a1c">Страна</label>
              <input type="text" class="form-control" id="poslpercountry" placeholder="Страна" value="" required="" th:field="${crm.subsequentCarrier.address.city}">
              <div class="invalid-feedback">
                Вы не заполнили страну.
              </div>
            </div>

            <div class="col-sm-3">
              <label class="form-label" style="color: #1a1a1c; margin-left: -1%">Почтовый код</label>
              <input type="text" class="form-control" id="poslperpostalCode" placeholder="Почтовый код" value="" required="" style="margin-left: -5px;" th:field="${crm.subsequentCarrier.address.postalCode}">
              <div class="invalid-feedback">
                Вы не заполнили почтовый код.
              </div>
            </div>

            <div class="col-sm-3">
              <label class="form-label" style="color: #1a1a1c">Область</label>
              <input type="text" class="form-control" id="poslperregion" placeholder="Область" value="" required="" th:field="${crm.subsequentCarrier.address.region}">
              <div class="invalid-feedback">
                Вы не заполнили область.
              </div>
            </div>

            <div class="col-sm-3">
              <label class="form-label" style="color: #1a1a1c">Населённый пункт</label>
              <input type="text" class="form-control" id="poslpercity" placeholder="Населённый пункт" value="" required="" th:field="${crm.subsequentCarrier.address.settlement}">
              <div class="invalid-feedback">
                Вы не заполнили населённый пункт.
              </div>
            </div>

            <div class="col-sm-3">
              <label class="form-label" style="color: #1a1a1c">Дом</label>
              <input type="text" class="form-control" id="poslperhouse" placeholder="Дом" value="" required="" th:field="${crm.subsequentCarrier.address.build}">
              <div class="invalid-feedback">
                Вы не заполнили дом.
              </div>
            </div>

            <div class="col-sm-3">
              <label class="form-label" style="color: #1a1a1c;">ОГРН</label>
              <input type="text" class="form-control" id="poslperOGRN" placeholder="" value="" required="" style="margin-left: -5px;" th:field="${crm.subsequentCarrier.address.ogrnNumber}">
              <div class="invalid-feedback">
                Вы не заполнили ОГРН.
              </div>
            </div>
          </div>
        </div>
      </div>

      <div style="height: 300px; width: 950px; border-color: #814de5; border-style: solid; border-radius: 10px; margin-top: 2%;">
        <h5 style="margin-left: 1%">18 Оговорки и замечания перевозчика</h5>
        <div style="margin-left: 2%; margin-top: -2%">
          <div class="row" style="margin-top: 20px;">
            <div class="col-sm-12">
              <label class="form-label" style="color: #1a1a1c">Оговорки и замечания</label>
              <textarea class="form-control" id="carrierNotes" rows="12" placeholder="Введите оговорки и замечания перевозчика" required="" style="height: 220px; width: 100%;" th:field="${crm.carrierNotes}"></textarea>
              <div class="invalid-feedback">
                Вы не заполнили поле с оговорками и замечаниями перевозчика.
              </div>
            </div>
          </div>
        </div>
      </div>

      <div style="width: 950px; display: flex; justify-content: space-between; margin-top: 2%;">
        <div style="height: 110px; width: 450px; border-color: #814de5; border-style: solid; border-radius: 10px;">
          <h5 style="margin-left: 1%">19 Дата получения груза</h5>
          <div style="margin-left: 2%; margin-top: -5%">
            <div class="row" style="margin-top: 20px;">
              <div class="col-sm-12">
                <label class="form-label" style="color: #1a1a1c">Дата получения</label>
                <input type="date" class="form-control" id="cargoReceivedDate" required="" style="width: 100%;" th:field="${crm.cargoReceivedDate}">
                <div class="invalid-feedback">
                  Вы не указали дату получения груза.
                </div>
              </div>
            </div>
          </div>
        </div>

        <div style="height: 110px; width: 450px; border-color: #814de5; border-style: solid; border-radius: 10px;">
          <h5 style="margin-left: 1%">20 Дата заполнения СМR</h5>
          <div style="margin-left: 2%; margin-top: -5%">
            <div class="row" style="margin-top: 20px;">
              <div class="col-sm-12">
                <label class="form-label" style="color: #1a1a1c">Дата заполнения</label>
                <input type="date" class="form-control" id="cmrFilledDate" required="" style="width: 100%;" th:field="${crm.cmrFilledDate}">
                <div class="invalid-feedback">
                  Вы не указали дату заполнения СМR.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div style="height: 125px; width: 950px; border-color: #814de5; border-style: solid; border-radius: 10px; margin-top: 2%;">
        <h5 style="margin-left: 1%">21. Регистрационные номера</h5>
        <div style="margin-left: 2%; margin-top: -2%">
          <div class="row" style="margin-top: 20px;">
            <div class="col-sm-6">
              <label class="form-label" style="color: #1a1a1c">Регистрационный номер тягача</label>
              <input type="text" class="form-control" id="tractorRegistrationNumber" placeholder="Введите регистрационный номер тягача" required="" style="width: 100%;" th:field="${crm.tractorRegistrationNumber}">
              <div class="invalid-feedback">
                Вы не указали регистрационный номер тягача.
              </div>
            </div>
            <div class="col-sm-6">
              <label class="form-label" style="color: #1a1a1c">Регистрационный номер прицепа</label>
              <input type="text" class="form-control" id="trailerRegistrationNumber" placeholder="Введите регистрационный номер прицепа" required="" style="width: 100%;" th:field="${crm.trailerRegistrationNumber}">
              <div class="invalid-feedback">
                Вы не указали регистрационный номер прицепа.
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="d-flex justify-content-center" style="margin-top: 20px; margin-left: 40px ">
        <button class="btn  " type="submit" style="width: 1000px; background-color: #814de5; color: #1a1a1c; ">Сохранить</button>
      </div>
    </form>

  </div>
  <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="createRequestModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-body">
          <select th:if="${supplier}" class="form-select" id="supplier" required>
            <option th:each="sup:${supplier}" th:value="${sup.idSupplier}" th:text="${sup.organizationName}"/>
          </select>
          <button class="btn" type="button" id="selectButton" style="display: block; background-color: #814de5; color: #1a1a1c; margin: 0 auto; margin-top: 20px;" >Выбрать</button>

        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>


  <script src="/js/model.js"></script>
  <script src="/js/main.js"></script>
</main>

</body>

</html>