<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="shortcut icon" href="/img/logo.png" type="image/x-icon">
</head>
<div th:insert="blocks/links :: div"></div>
<body style="background-color: #f2f0f8">
<div th:insert="blocks/header :: header"></div>
<div th:insert="blocks/clientSidebare :: clientSidebare"></div>
<main>
  <div class="col-md-7 col-lg-8" style="margin-top:-88%; margin-left: 27%">
    <h4 class="mb-3" style="color: #814de5">Добавить заявку на хранение</h4>
    <form class="needs-validation" novalidate="">
      <div class="col-sm-4" style="margin-top: -4%; margin-left: 67%" >
        <label  class="form-label" style="color: #814de5">Дата заявления</label>
        <input type="date" class="form-control" id="dateZav" placeholder="" value="" required="">
        <div class="invalid-feedback">
          Проверьте корректность заполнения даты заявления.
        </div>
      </div>
      <div class="row g-3">


        <div class="col-sm-4">
          <label  class="form-label" style="color: #814de5">Номер ТТН</label>
          <select class="form-select" id="№TTN" required>
            <option value="">Выберите номер ТТН</option>
            <option value="ТТН1">ТТН1</option>
            <option value="ТТН2">ТТН2</option>
            <option value="ТТН3">ТТН3</option>

          </select>
          <div class="invalid-feedback">
            Проверьте корректность выбора номера ТТН.
          </div>
        </div>

        <div class="col-4">
          <label class="form-label" style="color: #814de5">№ Трансп. декларации</label>
          <select class="form-select" id="№TD">
            <option value="">Выберите номер ТД</option>
            <option value="ТД1">ТД1</option>
            <option value="ТД2">ТД2</option>
            <option value="ТД3">ТД3</option>

          </select>
          <div class="invalid-feedback">
            Неверный номер ТД.
          </div>
        </div>

        <div class="col-sm-4" style="" >
          <label  class="form-label" style="color: #814de5">Дата поставки</label>
          <input type="date" class="form-control" id="datePost" placeholder="" value="" required="">
          <div class="invalid-feedback">
            Проверьте корректность заполнения даты поставки.
          </div>
        </div>

        <div class="col-6">
          <label class="form-label" style="color: #814de5">№ CRM</label>
          <select class="form-select" id="№CRM">
            <option value="">Выберите номер CRM</option>
            <option value="CRM1">CRM1</option>
            <option value="CRM2">CRM2</option>
            <option value="CRM3">CRM3</option>
          </select>
          <div class="invalid-feedback">
            Неверный номер CRM.
          </div>
        </div>

        <div class="col-6">
          <label class="form-label" style="color: #814de5">№ Авто</label>
          <select class="form-select" id="№auto">
            <option value="">Выберите номер авто</option>
            <option value="Авто1">Авто1</option>
            <option value="Авто2">Авто2</option>
            <option value="Авто3">Авто3</option>
          </select>
          <div class="invalid-feedback">
            Неверный номер авто.
          </div>
        </div>


        <button class="w-100 btn btn-primary btn-lg" type="submit" style="background-color: #814de5; color: #1a1a1c">Подать заявку</button>
      </div>

    </form>
  </div>
</main>
</body>

</html>