<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="shortcut icon" href="/img/logo.png" type="image/x-icon">
</head>
<div th:insert="blocks/links :: div"></div>
<body style="background-color: #f2f0f8">
<div th:insert="blocks/header :: header"></div>
<div th:insert="blocks/clientSidebare :: clientSidebare"></div>
<main>
    <div class="col-md-7 col-lg-8" style="margin-left: 27%">
        <h4 class="mb-3" style="color: #814de5">Добавить заявку на хранение</h4>
        <form class="needs-validation" id="addStorageRequestForm" novalidate="" th:object="${application}"
              th:action="*{'/client/addStorageRequest'}" method="post">
            <div class="col-sm-4" style="margin-top: -4%; margin-left: 67%">
                <label class="form-label" style="color: #814de5">Дата заявления</label>
                <input type="date" class="form-control" id="dateZav" placeholder="" value="" required=""
                       th:field="${application.dateZav}">
                <div class="invalid-feedback" style="color: red">
                    Проверьте корректность заполнения даты заявления.
                </div>
            </div>
            <div class="row g-3">


                <div class="col-sm-4">
                    <label class="form-label" style="color: #814de5">Номер ТТН</label>
                    <select th:if="${gpd}" class="form-select" id="№TTN" required
                            th:field="${application.idGoodTransportDocument}">
                        <option th:each="d:${gpd}" th:value="${d.idGoodTransportDocument}"
                                th:text="${d.goodsTransportDocumentNumbers}"/>
                    </select>
                    <div class="invalid-feedback" style="color: red">
                        Проверьте корректность выбора номера ТТН.
                    </div>
                </div>

                <div class="col-4">
                    <label class="form-label" style="color: #814de5">№ Трансп. декларации</label>
                    <select th:if="${declaration}" class="form-select" id="№TD"
                            th:field="${application.idDeclarationTD}">
                        <option th:each="d:${declaration}" th:value="${d.idDeclaration}"
                                th:text="${d.customEDCode + '/' + d.directionOfMovement +'/' +d.procedureCode}"/>
                    </select>
                    <div class="invalid-feedback" style="color: red">
                        Неверный номер ТД.
                    </div>
                </div>

                <div class="col-sm-4" style="">
                    <label class="form-label" style="color: #814de5">Дата поставки</label>
                    <input type="date" class="form-control" id="datePost" placeholder="" value="" required=""
                           th:field="${application.datePost}">
                    <div class="invalid-feedback" style="color: red">
                        Проверьте корректность заполнения даты поставки.
                    </div>
                </div>

                <div class="col-6">
                    <label class="form-label" style="color: #814de5">№ CRM</label>
                    <select th:if="${crm}" class="form-select" id="№CRM" th:field="${application.idCRM}">
                        <option th:each="c:${crm}" th:value="${c.idCRM}" th:text="${c.numbers}"/>
                    </select>
                    <div class="invalid-feedback" style="color: red">
                        Неверный номер CRM.
                    </div>
                </div>

                <div class="col-6">
                    <label class="form-label" style="color: #814de5">№ Авто</label>
                    <select th:if="${truck}" class="form-select" id="№auto" th:field="${application.idTruck}">
                        <option th:each="t:${truck}" th:value="${t.idTruck}" th:text="${t.registrationNumber}"/>
                    </select>
                    <div class="invalid-feedback" style="color: red">
                        Неверный номер авто.
                    </div>
                </div>
                <button class="w-100 btn btn-primary btn-lg" type="submit"
                        style="background-color: #814de5; color: #1a1a1c">Подать заявку
                </button>
            </div>

        </form>
    </div>
</main>
</body>
<script>
    document.getElementById('addStorageRequestForm').addEventListener('submit', function (event) {
        event.preventDefault();
        fetch('/client/addStorageRequest', {
            method: 'POST',
            body: new FormData(this)
        })
            .then(response => response.json())
            .then(data => {
                if (data.status === "success") {
                    alert(data.message);
                    window.location.href = '/client/addStorageRequest/';
                } else if (data.status === "bad") {
                    alert(data.message);
                } else {
                    console.error('Произошла ошибка:', data.message);
                }
            })
    });
</script>
</html>