<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="shortcut icon" href="/img/logo.png" type="image/x-icon">
  <style>
    .modal {
      display: none;
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: #1a1a1c;
      opacity: 0.9;
    }

    .modal-content {
      background-color: #f2f0f8;
      opacity: 1;
      margin: 15% auto;
      padding: 20px;
      border: 1px solid #888;
      width: 100%;
      max-width: 600px;
    }

    .close {
      color: #1a1a1c;
      float: right;
      font-size: 28px;
      font-weight: bold;
      cursor: pointer;
    }

    .close:hover,
    .close:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
    }
  </style>

</head>
<div th:insert="blocks/links :: div"></div>
<body style="background-color: #f2f0f8">
<div th:insert="blocks/header :: header"></div>
<div th:insert="blocks/clientSidebare :: clientSidebare"></div>
<main>
  <div class="col-md-7 col-lg-8" style=" margin-left: 27%">
    <h4 class="mb-3" style="color: #814de5">Оставить заявку на маркировку товара</h4>

    <div th:name="search-sort" style="width: 950px; display: flex; align-items: center;">
      <div th:name="sort" style="width: 475px; display: flex; align-items: center;">
        <button class="btn btn-primary rounded-pill px-3" type="button" style="color: #f2f0f8; background-color: #814de5; border-color: #814de5">Отсортировать</button>
        <select class="form-select" style="margin-left: 10px; width: 150px">
          <option value="" selected disabled>По признаку</option>
          <option value="признак1">Признак 1</option>
          <option value="признак2">Признак 2</option>
          <option value="признак3">Признак 3</option>
        </select>
      </div>
      <div style="width: 475px; display: flex; align-items: end;">
        <span>с</span>
        <input class="form-control" type="date" placeholder="С" style="margin-left: 10px; width: 120px">
        <span>по</span>
        <input class="form-control" type="date" placeholder="По" style="margin-left: 10px; width: 120px">
      </div>

      <div th:name="search" style="width: 475px; display: flex; align-items: end;">
        <form role="search">
          <input class="form-control" type="search" placeholder="Search" aria-label="Search" style="background-color: #814de5; color: #f2f0f8">
        </form>
        <select class="form-select" style="margin-left: 10px; width: 160px">
          <option value="" selected disabled>По параметру</option>
          <option value="признак1">Параметр 1</option>
          <option value="признак2">Параметр 2</option>
          <option value="признак3">Параметр 3</option>
        </select>
      </div>
    </div>


    <table class="table table-striped table-sm" style="margin-top: 20px">
      <thead>
      <tr>
        <th style="color: #814de5" scope="col">Номер товара</th>
        <th style="color: #814de5" scope="col">Наименование</th>
        <th style="color: #814de5" scope="col">Статус заявки</th>
        <th style="color: #814de5" scope="col">Дата отправки</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr th:if="${applicationsForMarking}" th:each="list:${applicationsForMarking}">
        <td style="color: #1a1a1c" th:text="${list.product.productCode}"></td>
        <td style="color: #1a1a1c" th:text="${list.product.nameProduct}"></td>
        <td style="color: #1a1a1c" id="status" th:text="${list.statusMarkingApplication.getRussianName().get(list.statusMarkingApplication)}"></td>
        <td style="color: #1a1a1c" th:text="${list.date}"></td>
        <td><input type="button" value="Отменить заявку" th:onclick="|deleteZavForMarking(${list.idApplication})|" style="font-weight: bold;background-color: #814de5; color: #f2f0f8"></td>

      </tr>
      </tbody>
    </table>

    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createRequestModal" style="margin-top: 20px;background-color: #814de5; color: #1a1a1c">
      Создать новую заявку на маркировку
    </button>


    <div class="modal fade" id="createRequestModal" tabindex="-1" aria-labelledby="createRequestModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="createRequestModalLabel">Создать новую заявку на маркировку</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form th:action="*{'/client/addZavForMark/'}" id="addZavForMark" th:object="${applicationsForMarking}" method="post">
              <div class="mb-3">
                <label for="productSelect" class="form-label">Товар</label>
                <select class="form-select" id="productSelect" th:field="${applicationForMarking.idProduct}">
                  <option th:if="${!productList.isEmpty()}" th:each="p:${productList}" th:value="${p.idProduct}" th:text="${p.productCode + ': ' + p.nameProduct}"/>
                </select>
              </div>
              <div class="mb-3">
                <label for="markingTypeSelect" class="form-label">Тип маркировки</label>
                <select class="form-select" id="markingTypeSelect" th:field="${applicationForMarking.typeMarking}">
                  <option th:if="${typeMarkings}" th:each="t:${typeMarkings}" th:value="${t.key}" th:text="${t.value}"/>
                </select>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                <button  type="submit" class="btn btn-primary" style="background-color: #814de5; color: #1a1a1c">Сохранить</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
</body>
<script>
  document.getElementById('addZavForMark').addEventListener('submit', function (event) {
    event.preventDefault();
    fetch('/client/addZavForMark', {
      method: 'POST',
      body: new FormData(this)
    })
            .then(response => response.json())
            .then(data => {
              if (data.status === "success") {
                alert(data.message);
                window.location.href = '/client/addZavForMark';
              } else if (data.status === "bad") {
                alert(data.message);
              } else {
                console.error('Произошла ошибка:', data.message);
              }
            })
  });
  function deleteZavForMarking(idApplication){
    const status = document.getElementById("status").textContent;
    if (status !== "В ожидании")
      alert("К сожелению заявку нельзя отменить, так как марикровка в обработке у работников склада. Для подробной информации можете свявться с нами через чат...");
    fetch('/client/deleteZavForMark/' + idApplication, {
      method: 'GET',
    })
            .then(response => response.json())
            .then(data => {
              if (data.status === "success") {
                alert("Заяка отмененв");
                window.location.href = '/client/addZavForMark';
              } else if (data.status === "bad") {
                alert("Ошибка на сервере, попробуйте позже!");
              } else {
                console.error('Произошла ошибка:', data.message);
              }
            });
  }
</script>
</html>