<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="shortcut icon" href="/img/logo.png" type="image/x-icon">
</head>
<div th:insert="blocks/links :: div"></div>
<body style="background-color: #f2f0f8">
<div th:insert="blocks/header :: header"></div>
<div th:insert="blocks/clientSidebare :: clientSidebare"></div>
<main>
    <div class="table-responsive " style="width:950px;  margin-left: 27%">
        <h4 class="mb-3" style="color: #814de5">Оценка отпуска товара</h4>
        <form action="/client/filter/otpProdQuality" method="get">
            <div th:name="search-sort" style="width: 950px; display: flex; align-items: center;">
                <div th:name="sort" style="width: 475px; display: flex; align-items: center;">
                    <select name="howSort"
                            class="form-select">
                        <option value="asc" selected disabled>По возрастанию</option>
                        <option value="desc">По убыванию</option>
                    </select>
                    <select class="form-select" name="sortCriteria" style="margin-left: 10px; width: 150px">
                        <option value="" selected disabled>По признаку</option>
                        <option value="idMarkingInfo">По номеру оценки</option>
                        <option value="markForAgency">По оценкам</option>
                    </select>
                </div>
                <div th:name="search" style="width: 475px; display: flex; align-items: end;">
                    <input class="form-control" name="searchQuery" type="search" placeholder="Search" aria-label="Search"
                           style="background-color: #814de5; color: #f2f0f8">
                    <select class="form-select" name="searchParam" style="margin-left: 10px; width: 160px">
                        <option value="" selected disabled>По признаку</option>
                        <option value="idMarkingInfo">По номеру оценки</option>
                        <option value="markForAgency">По оценкам</option>
                    </select>
                </div>
            </div>
            <button type="submit" class="btn btn-primary rounded-pill px-3"  style="color: #f2f0f8; background-color: #814de5; border-color: #814de5">
                Отфильтровать данные
            </button>
        </form>

        <table class="table table-striped table-sm" style="margin-top: 20px">
            <thead>
            <tr>
                <th style="color: #814de5" scope="col">Дата отгрузки</th>
                <th style="color: #814de5" scope="col">Состояние товара</th>
                <th style="color: #814de5" scope="col">Вес товара</th>
                <th style="text-align: center; color: #814de5" scope="col">Список наименований товара и номер
                    декларации
                </th>
                <th style="color: #814de5; vertical-align: top;" scope="col">Поставщик</th>
                <th style="color: #814de5;  vertical-align: top;" scope="col">Оценка</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${!otpuskList.isEmpty()}" th:each="ot:${otpuskList}"
                th:class="${ot.markForAgency!=null && ot.markForAgency.evaluation>7} ? 'table-success' : 'table-danger'">
                <td style="color: #1a1a1c" th:text="${ot.applicationForRelease.date}"/>
                <td style="color: #1a1a1c"
                    th:text="${ot.applicationForRelease.product.applicationForStorage.datePost}"/>
                <td style="color: #1a1a1c" th:text="${ot.applicationForRelease.product.netWeight}"/>
                <td style="color: #1a1a1c"
                    th:text="${ot.applicationForRelease.product.nameProduct + ', ' + ot.applicationForRelease.product.declarationTD.declarationNumber}"/>
                <td style="color: #1a1a1c"
                    th:text="${ot.applicationForRelease.product.declarationTD.individuals.organizationName}"/>
                <td style="color: #1a1a1c"
                    th:if="${ot.markForAgency!=null}" th:text="${ot.markForAgency.evaluation}"/>

                <td><input type="button" value="Оценить" th:onclick="|setId(${ot.id})|"
                           style="font-weight: bold; background-color: #814de5; color: #f2f0f8 " data-bs-toggle="modal"
                           data-bs-target="#createRequestModal"></td>

            </tr>
            </tbody>

        </table>

        <div class="modal fade" id="createRequestModal" tabindex="-1" aria-labelledby="createRequestModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="createRequestModalLabel"> Оценить отпуск товара</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form class="needs-validation" id="otpProdQuality" th:action="*{'/client/otpProdQuality'}"
                              method="post">
                            <div class="row g-3">
                                <div class="col-sm-12">
                                    <label class="form-label" style="color: #814de5">Оцените пожалуйста качество
                                        маркировки</label>
                                    <input type="number" class="form-control" id="Ocenka" min="1" max="10" required
                                           th:field="${newMarkForAgency.evaluation}">
                                </div>
                                <input type="hidden" name="idMark" id="idMark">
                                <div class="modal-footer">
                                    <button class="w-100 btn btn-primary btn-lg" type="submit"
                                            style="margin-top: 20px;background-color: #814de5; color: #1a1a1c">Сохранить
                                    </button>

                                </div>
                            </div>

                        </form>
                    </div>

                </div>
            </div>
        </div>

    </div>
</main>
</body>
<script>
    function setId(id) {
        const idMark = document.getElementById("idMark");
        idMark.value = id;
    }
</script>
</html>