<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="shortcut icon" href="/img/logo.png" type="image/x-icon">
    <style>
        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: #1a1a1c;
            opacity: 0.9;
        }

        .modal-content {
            background-color: #f2f0f8;
            opacity: 1;
            margin: 15% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 100%;
            max-width: 600px;
        }

        .close {
            color: #1a1a1c;
            float: right;
            font-size: 28px;
            font-weight: bold;
            cursor: pointer;
        }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
    </style>
</head>
<div th:insert="blocks/links :: div"></div>
<body style="background-color: #f2f0f8">
<div th:insert="blocks/header :: header"></div>
<div th:insert="blocks/clientSidebare :: clientSidebare"></div>
<main>
    <div class="col-md-7 col-lg-8" style=" margin-left: 27%">
        <h4 class="mb-3" style="color: #814de5">Зарегистрироваться как компания </h4>
        <div th:name="search-sort" style="width: 950px; display: flex; align-items: center;">
            <div th:name="sort" style="width: 475px; display: flex; align-items: center;">
                <button class="btn btn-primary rounded-pill px-3" type="button"
                        style="color: #f2f0f8; background-color: #814de5; border-color: #814de5">Отсортировать
                </button>
                <select class="form-select" style="margin-left: 10px; width: 150px">
                    <option value="" selected disabled>По признаку</option>
                    <option value="признак1">Признак 1</option>
                    <option value="признак2">Признак 2</option>
                    <option value="признак3">Признак 3</option>
                </select>
            </div>

            <div th:name="search" style="width: 475px; display: flex; align-items: end;">
                <form role="search">
                    <input class="form-control" type="search" placeholder="Search" aria-label="Search"
                           style="background-color: #814de5; color: #f2f0f8">
                </form>
                <select class="form-select" style="margin-left: 10px; width: 160px">
                    <option value="" selected disabled>По параметру</option>
                    <option value="признак1">Параметр 1</option>
                    <option value="признак2">Параметр 2</option>
                    <option value="признак3">Параметр 3</option>
                </select>
            </div>
        </div>

        <table class="table table-striped table-sm" style="margin-top: 20px">
            <thead>
            <tr>
                <th style="color: #814de5" scope="col">Наименование организации</th>
                <th style="color: #814de5" scope="col">Юридический адрес</th>
                <th style="color: #814de5" scope="col"> УНН</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${supplier}" th:each="sup:${supplier}">
                <td style="color: #1a1a1c" th:text="${sup.organizationName}"/>
                <td style="color: #1a1a1c" th:text="${sup.legalAddress}"/>
                <td style="color: #1a1a1c" th:text="${sup.taxId}"/>
                <td><input type="button" value="Подробнее"
                           style="font-weight: bold; background-color: #814de5; color: #f2f0f8 " data-bs-toggle="modal" th:onclick="|findSuppliers(${sup.idSupplier})|"
                           data-bs-target="#moreDetails"></td>
            </tr>
            </tbody>
        </table>

        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createRequestModal"
                style="margin-top: 20px;background-color: #814de5; color: #1a1a1c">
            Зарегистрировать ещё одну компанию
        </button>

        <div class="modal fade" id="createRequestModal" tabindex="-1" aria-labelledby="createRequestModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="createRequestModalLabel"> Зарегистрировать ещё одну компанию</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form class="needs-validation" id="regAsAComp" novalidate="" th:object="${newSupplier}" method="post">

                            <div class="row g-3">
                                <div class="col-sm-12">
                                    <label class="form-label" style="color: #814de5">Наименование организации</label>
                                    <input type="text" class="form-control" id="Organization Name" required=""
                                           th:field="${newSupplier.organizationName}">
                                    <div class="invalid-feedback" style="color: red">
                                        Проверьте корректность заполнения наименования организации.
                                    </div>
                                </div>
                                <div class="col-12">
                                    <label class="form-label" style="color: #814de5">Юридический адрес</label>
                                    <input type="text" class="form-control" id="Legal Address"
                                           th:field="${newSupplier.legalAddress}" placeholder="" required="">
                                    <div class="invalid-feedback" style="color: red">
                                        Проверьте корректность заполнения юридического адреса.
                                    </div>
                                </div>
                                <div class="col-12">
                                    <label class="form-label" style="color: #20202c; size: 30px">Почтовый адрес:</label>

                                    <div class="row g-3">
                                        <div class="col-6">
                                            <label class="form-label" style="color: #814de5">Индекс</label>
                                            <input type="text" class="form-control" id="Postal Code" placeholder=""
                                                   th:field="${newSupplier.address.postalCode}" required="">
                                            <div class="invalid-feedback" style="color: red">
                                                Проверьте корректность заполнения почтового индекса.
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <label class="form-label" style="color: #814de5">Регион</label>
                                            <input type="text" class="form-control" th:field="${newSupplier.address.region}" id="region" placeholder="" required="">
                                            <div class="invalid-feedback" style="color: red">
                                                Проверьте корректность заполнения города.
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <label class="form-label" style="color: #814de5">Область</label>
                                            <input type="text" class="form-control" th:field="${newSupplier.address.settlement}" id="settlement" placeholder="" required="">
                                            <div class="invalid-feedback" style="color: red">
                                                Проверьте корректность заполнения города.
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <label class="form-label" style="color: #814de5">Город</label>
                                            <input type="text" class="form-control" id="City" placeholder=""
                                                   th:field="${newSupplier.address.city}" required="">
                                            <div class="invalid-feedback" style="color: red">
                                                Проверьте корректность заполнения города.
                                            </div>
                                        </div>
                                    <div class="col-12">
                                        <label class="form-label" style="color: #814de5">Адрес</label>
                                        <input type="text" class="form-control" id="Address" placeholder="" required=""
                                               th:field="${newSupplier.address.settlement}">
                                        <div class="invalid-feedback" style="color: red">
                                            Проверьте корректность заполнения адреса.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <label class="form-label" style="color: #814de5">Номер</label>
                                    <input type="text" class="form-control" id="Number" placeholder="" required=""
                                           th:field="${newSupplier.address.build}">
                                    <div class="invalid-feedback" style="color: red">
                                        Проверьте корректность заполнения номера.
                                    </div>
                                </div>
                                <div class="col-6">
                                    <label class="form-label" style="color: #814de5">Код банка (BIC)</label>
                                    <input type="text" class="form-control" id="Bank Code (BIC)" placeholder=""
                                           required="" th:field="${newSupplier.bankCode}">
                                    <div class="invalid-feedback" style="color: red">
                                        Проверьте корректность заполнения кода банка (BIC).
                                    </div>
                                </div>
                                <div class="col-12">
                                    <label class="form-label" style="color: #814de5">Наименование банка</label>
                                    <input type="text" class="form-control" id="Bank Name" placeholder="" required=""
                                           th:field="${newSupplier.bankName}">
                                    <div class="invalid-feedback" style="color: red">
                                        Проверьте корректность заполнения наименования банка.
                                    </div>
                                </div>
                            </div>
                            </div>
                            <div class="row g-3">
                                <div class="col-6">
                                    <label class="form-label" style="color: #814de5">УНН</label>
                                    <input type="text" class="form-control" id="UNN" placeholder="" required=""
                                           th:field="${newSupplier.taxId}">
                                    <div class="invalid-feedback" style="color: red">
                                        Проверьте корректность заполнения УНН.
                                    </div>
                                </div>
                                <div class="col-6">
                                    <label class="form-label" style="color: #814de5">ОКПО</label>
                                    <input type="text" class="form-control" id="OKPO" placeholder="" required=""
                                           th:field="${newSupplier.registrationCode}">
                                    <div class="invalid-feedback" style="color: red">
                                        Проверьте корректность заполнения ОКПО.
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button class="w-100 btn btn-primary btn-lg" type="submit"
                                            style="margin-top: 20px;background-color: #814de5; color: #1a1a1c">Сохранить
                                    </button>

                                </div>
                            </div>

                        </form>
                    </div>

                </div>
            </div>
        </div>

        <div class="modal fade" id="moreDetails" tabindex="-1" aria-labelledby="createRequestModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="moreDetailsLabel"> Подробнее</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="row g-3">
                        <div class="col-sm-12">
                            <label class="form-label" style="color: #814de5">Наименование организации: </label>
                            <span id="nameCompany"></span>
                        </div>
                        <div class="col-12">
                            <label class="form-label" style="color: #814de5">Юридический адрес: </label>
                            <span id="legacyAddress"></span>
                        </div>
                        <div class="col-6">
                            <label class="form-label" style="color: #814de5">Код банка (BIC): </label>
                            <span id="bankKode"></span>
                        </div>
                        <div class="col-12">
                            <label class="form-label" style="color: #814de5">Наименование банка: </label>
                            <span id="nameBank"></span>
                        </div>
                    </div>
                    <div class="row g-3">
                        <div class="col-6">
                            <label class="form-label" style="color: #814de5">УНН: </label>
                            <span id="UNNCode"></span>
                        </div>
                        <div class="col-6">
                            <label class="form-label" style="color: #814de5">ОКПО: </label>
                            <span id="OKPOCode"></span>
                        </div>
                        <div class="modal-footer">
                            <button class="w-100 btn btn-primary btn-lg" type="submit" data-bs-toggle="modal"
                                    data-bs-target="#changeRequestModal"
                                    style="margin-top: 20px;background-color: #814de5; color: #1a1a1c"
                            onclick="findChangeSuppliers()">Изменить
                            </button>
                            <button class="w-100 btn btn-primary btn-lg" type="submit"
                                    style="margin-top: 20px;background-color: #814de5; color: #1a1a1c">Удалить
                            </button>
                        </div>
                    </div>

                    </form>
                </div>

            </div>
        </div>

        <div class="modal fade" id="changeRequestModal" tabindex="-1" aria-labelledby="createRequestModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="changeRequestModalLabel"> Изменить информацию о компании</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form th:object="${newSupplier}"  class="needs-validation" id="changeAsAComp" novalidate="" method="post">

                            <div class="row g-3">
                                <div class="col-sm-12">
                                    <label class="form-label" style="color: #814de5">Наименование организации</label>
                                    <input type="text" class="form-control" th:field="${newSupplier.organizationName}" id="organizationNameInput" required="">
                                    <div class="invalid-feedback" style="color: red" >
                                        Проверьте корректность заполнения наименования организации.
                                    </div>
                                </div>
                                <div class="col-12">
                                    <label class="form-label" style="color: #814de5">Юридический адрес</label>
                                    <input th:field="${newSupplier.legalAddress}" type="text" class="form-control" id="legalAddressInput" placeholder="" required="">
                                    <div class="invalid-feedback" style="color: red">
                                        Проверьте корректность заполнения юридического адреса.
                                    </div>
                                </div>
                                <div class="col-12">
                                    <label class="form-label" style="color: #20202c; size: 30px">Почтовый адрес:</label>

                                    <div class="row g-3">
                                        <div class="col-6">
                                            <label class="form-label" style="color: #814de5">Индекс</label>
                                            <input type="text" class="form-control" id="postalCodeInput"
                                                   th:field="${newSupplier.address.postalCode}" placeholder="" required="">
                                            <div class="invalid-feedback" style="color: red">
                                                Проверьте корректность заполнения почтового индекса.
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <label class="form-label" style="color: #814de5">Регион</label>
                                            <input type="text" class="form-control" th:field="${newSupplier.address.region}" id="regionInput" placeholder="" required="">
                                            <div class="invalid-feedback" style="color: red">
                                                Проверьте корректность заполнения города.
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <label class="form-label" style="color: #814de5">Область</label>
                                            <input type="text" class="form-control" th:field="${newSupplier.address.settlement}" id="settlementInput" placeholder="" required="">
                                            <div class="invalid-feedback" style="color: red">
                                                Проверьте корректность заполнения города.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <label class="form-label" style="color: #814de5">Адрес</label>
                                        <input type="text" class="form-control" id="buildInput" th:field="${newSupplier.address.build}" placeholder="" required="">
                                        <div class="invalid-feedback" style="color: red">
                                            Проверьте корректность заполнения адреса.
                                        </div>
                                    </div>
                                </div>

                                <div class="col-6">
                                    <label class="form-label" style="color: #814de5">Код банка (BIC)</label>
                                    <input type="text" class="form-control" id="bankCodeInput" th:field="${newSupplier.bankCode}" placeholder="">
                                    <div class="invalid-feedback" style="color: red">
                                        Проверьте корректность заполнения кода банка (BIC).
                                    </div>
                                </div>
                                <div class="col-12">
                                    <label class="form-label" style="color: #814de5">Наименование банка</label>
                                    <input type="text" class="form-control" id="bankNameInput" th:field="${newSupplier.bankName}" placeholder=""
                                           required="">
                                    <div class="invalid-feedback" style="color: red">
                                        Проверьте корректность заполнения наименования банка.
                                    </div>
                                </div>
                            </div>
                            <div class="row g-3">
                                <div class="col-6">
                                    <label class="form-label" style="color: #814de5">УНН</label>
                                    <input type="text" class="form-control" id="taxIdInput" placeholder="" th:field="${newSupplier.taxId}" required="">
                                    <div class="invalid-feedback" style="color: red">
                                        Проверьте корректность заполнения УНН.
                                    </div>
                                </div>
                                <div class="col-6">
                                    <label class="form-label" style="color: #814de5">ОКПО</label>
                                    <input type="text" class="form-control" id="registrationCodeInput"  th:field="${newSupplier.registrationCode}" placeholder="" required="">
                                    <div class="invalid-feedback" style="color: red">
                                        Проверьте корректность заполнения ОКПО.
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button class="w-100 btn btn-primary btn-lg" type="submit"
                                            style="margin-top: 20px;background-color: #814de5; color: #1a1a1c">Сохранить
                                    </button>

                                </div>
                            </div>

                        </form>
                    </div>

                </div>
            </div>
        </div>

    </div>

    </div>
</main>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script src="/js/changer.js">

</script>

</html>