<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="shortcut icon" href="/img/logo.png" type="image/x-icon">
</head>
<div th:insert="blocks/links :: div"></div>
<body style="background-color: #f2f0f8">
<div th:insert="blocks/header :: header"></div>
<div th:insert="blocks/clientSidebare :: clientSidebare"></div>
<main>
    <div class="col-md-7 col-lg-8" style="margin-top: -88%; margin-left: 27%">
        <h4 class="mb-3" style="color: #814de5">Зарегистрироваться как компания </h4>
        <form class="needs-validation" novalidate="" th:object="${supplier}" th:action="*{'/client/regAsAComp'}" method="post">

            <div class="row g-3">
                <div class="col-sm-6">
                    <label class="form-label" style="color: #814de5">Наименование организации</label>
                    <input type="text" class="form-control" id="Organization Name" required="" th:field="${supplier.organizationName}" th:value="${supplier.organizationName}">
                    <div class="invalid-feedback">
                        Проверьте корректность заполнения наименования организации.
                    </div>
                </div>
                <div class="col-12">
                    <label class="form-label" style="color: #814de5">Юридический адрес</label>
                    <input type="text" class="form-control" id="Legal Address" th:field="${supplier.legalAddress}" th:value="${supplier.legalAddress}" placeholder="" required="">
                    <div class="invalid-feedback">
                        Проверьте корректность заполнения юридического адреса.
                    </div>
                </div>
                <div class="col-6">
                    <label class="form-label" style="color: #814de5">Телефон</label>
                    <input type="tel" class="form-control" id="Phone" th:field="${supplier.phone}" th:value="${supplier.phone}" placeholder="" required="">
                    <div class="invalid-feedback">
                        Проверьте корректность заполнения телефона.
                    </div>
                </div>
                <div class="col-12">
                    <label class="form-label" style="color: #20202c; size: 30px">Почтовый адрес:</label>

                    <div class="row g-3">
                        <div class="col-6">
                            <label class="form-label" style="color: #814de5">Индекс</label>
                            <input type="text" class="form-control" id="Postal Code" placeholder="" th:field="${supplier.address.postalCode}" th:value="${supplier.organizationName}" required="">
                            <div class="invalid-feedback">
                                Проверьте корректность заполнения почтового индекса.
                            </div>
                        </div>
                        <div class="col-6">
                            <label class="form-label" style="color: #814de5">Город</label>
                            <input type="text" class="form-control" id="City" placeholder="" th:field="${supplier.address.city}" th:value="${supplier.address.city}"required="">
                            <div class="invalid-feedback">
                                Проверьте корректность заполнения города.
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <label class="form-label" style="color: #814de5">Адрес</label>
                        <input type="text" class="form-control" id="Address" placeholder="" required="">
                        <div class="invalid-feedback">
                            Проверьте корректность заполнения адреса.
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <label class="form-label" style="color: #814de5">Номер</label>
                    <input type="text" class="form-control" id="Number" placeholder="" required="">
                    <div class="invalid-feedback">
                        Проверьте корректность заполнения номера.
                    </div>
                </div>
                <div class="col-6">
                    <label class="form-label" style="color: #814de5">Код банка (BIC)</label>
                    <input type="text" class="form-control" id="Bank Code (BIC)" placeholder="" required="">
                    <div class="invalid-feedback">
                        Проверьте корректность заполнения кода банка (BIC).
                    </div>
                </div>
                <div class="col-12">
                    <label class="form-label" style="color: #814de5">Наименование банка</label>
                    <input type="text" class="form-control" id="Bank Name" placeholder="" required="">
                    <div class="invalid-feedback">
                        Проверьте корректность заполнения наименования банка.
                    </div>
                </div>
            </div>
            <div class="row g-3">
            <div class="col-6">
                <label class="form-label" style="color: #814de5">УНН</label>
                <input type="text" class="form-control" id="UNN" placeholder="" required="">
                <div class="invalid-feedback">
                    Проверьте корректность заполнения УНН.
                </div>
            </div>
            <div class="col-6">
                <label class="form-label" style="color: #814de5">ОКПО</label>
                <input type="text" class="form-control" id="OKPO" placeholder="" required="">
                <div class="invalid-feedback">
                    Проверьте корректность заполнения ОКПО.
                </div>
            </div>
            </div>
            <div class="col-6">
                <label class="form-label" style="color: #814de5">Дата регистрации</label>
                <input type="date" class="form-control" id="Registration Date" placeholder="">
                <div class="invalid-feedback">
                    Неверная дата.
                </div>
            </div>
            <button class="w-100 btn btn-primary btn-lg" type="submit" style="margin-top: 20px;background-color: #814de5; color: #1a1a1c">Изменить</button>

    </form>
    </div>
</main>
</body>

</html>