<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="shortcut icon" href="/img/logo.png" type="image/x-icon">
    <style>
        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: #1a1a1c;
            opacity: 0.9;
        }

        .modal-content {
            background-color: #f2f0f8;
            opacity: 1;
            margin: 15% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 100%;
            max-width: 600px;
        }

        .close {
            color: #1a1a1c;
            float: right;
            font-size: 28px;
            font-weight: bold;
            cursor: pointer;
        }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
    </style>
</head>
<div th:insert="blocks/links :: div"></div>
<body style="background-color: #f2f0f8">
<div th:insert="blocks/header :: header"></div>
<div th:insert="blocks/clientSidebare :: clientSidebare"></div>
<main>
    <div class="col-md-7 col-lg-8" style="margin-top: -88%; margin-left: 27%">
        <h4 class="mb-3" style="color: #814de5">Зарегистрироваться как компания </h4>
        <div th:name="search-sort" style="width: 950px; display: flex; align-items: center;">
            <div th:name="sort" style="width: 475px; display: flex; align-items: center;">
                <button class="btn btn-primary rounded-pill px-3" type="button"
                        style="color: #f2f0f8; background-color: #814de5; border-color: #814de5">Отсортировать
                </button>
                <select class="form-select" style="margin-left: 10px; width: 150px">
                    <option value="" selected disabled>По признаку</option>
                    <option value="признак1">Признак 1</option>
                    <option value="признак2">Признак 2</option>
                    <option value="признак3">Признак 3</option>
                </select>
            </div>

            <div th:name="search" style="width: 475px; display: flex; align-items: end;">
                <form role="search">
                    <input class="form-control" type="search" placeholder="Search" aria-label="Search"
                           style="background-color: #814de5; color: #f2f0f8">
                </form>
                <select class="form-select" style="margin-left: 10px; width: 160px">
                    <option value="" selected disabled>По параметру</option>
                    <option value="признак1">Параметр 1</option>
                    <option value="признак2">Параметр 2</option>
                    <option value="признак3">Параметр 3</option>
                </select>
            </div>
        </div>

        <table class="table table-striped table-sm" style="margin-top: 20px">
            <thead>
            <tr>
                <th style="color: #814de5" scope="col">Наименование организации</th>
                <th style="color: #814de5" scope="col">Юридический адрес</th>
                <th style="color: #814de5" scope="col">Телефон</th>
                <th style="color: #814de5" scope="col"> УНН</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${supplier}" th:each="sup:${supplier}">
                <td style="color: #1a1a1c" th:text="${sup.organizationName}"/>
                <td style="color: #1a1a1c" th:text="${sup.legalAddress}"/>
                <td style="color: #1a1a1c" th:text="${sup.phone}"/>
                <td style="color: #1a1a1c" th:text="${sup.taxId}"/>
                <td><input type="button" value="Подробнее"
                           style="font-weight: bold; background-color: #814de5; color: #f2f0f8 " data-bs-toggle="modal"
                           data-bs-target="#moreDetails"></td>
            </tr>
            </tbody>
        </table>

        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createRequestModal"
                style="margin-top: 20px;background-color: #814de5; color: #1a1a1c">
            Зарегистрировать ещё одну компанию
        </button>

        <div class="modal fade" id="createRequestModal" tabindex="-1" aria-labelledby="createRequestModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="createRequestModalLabel"> Зарегистрировать ещё одну компанию</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form class="needs-validation" id="regAsAComp" novalidate="" th:object="${newSupplier}"
                              th:action="*{'/client/regAsAComp'}" method="post">

                            <div class="row g-3">
                                <div class="col-sm-12">
                                    <label class="form-label" style="color: #814de5">Наименование организации</label>
                                    <input type="text" class="form-control" id="Organization Name" required=""
                                           th:field="${newSupplier.organizationName}">
                                    <div class="invalid-feedback">
                                        Проверьте корректность заполнения наименования организации.
                                    </div>
                                </div>
                                <div class="col-12">
                                    <label class="form-label" style="color: #814de5">Юридический адрес</label>
                                    <input type="text" class="form-control" id="Legal Address"
                                           th:field="${newSupplier.legalAddress}" placeholder="" required="">
                                    <div class="invalid-feedback">
                                        Проверьте корректность заполнения юридического адреса.
                                    </div>
                                </div>
                                <div class="col-12">
                                    <label class="form-label" style="color: #814de5">Телефон</label>
                                    <input type="tel" class="form-control" id="Phone" th:field="${newSupplier.phone}"
                                           placeholder="" required="">
                                    <div class="invalid-feedback">
                                        Проверьте корректность заполнения телефона.
                                    </div>
                                </div>
                                <div class="col-12">
                                    <label class="form-label" style="color: #20202c; size: 30px">Почтовый адрес:</label>

                                    <div class="row g-3">
                                        <div class="col-6">
                                            <label class="form-label" style="color: #814de5">Индекс</label>
                                            <input type="text" class="form-control" id="Postal Code" placeholder=""
                                                   th:field="${newSupplier.address.postalCode}" required="">
                                            <div class="invalid-feedback">
                                                Проверьте корректность заполнения почтового индекса.
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <label class="form-label" style="color: #814de5">Город</label>
                                            <input type="text" class="form-control" id="City" placeholder=""
                                                   th:field="${newSupplier.address.city}" required="">
                                            <div class="invalid-feedback">
                                                Проверьте корректность заполнения города.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <label class="form-label" style="color: #814de5">Адрес</label>
                                        <input type="text" class="form-control" id="Address" placeholder="" required=""
                                               th:field="${newSupplier.address.settlement}">
                                        <div class="invalid-feedback">
                                            Проверьте корректность заполнения адреса.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <label class="form-label" style="color: #814de5">Номер</label>
                                    <input type="text" class="form-control" id="Number" placeholder="" required=""
                                           th:field="${newSupplier.address.build}">
                                    <div class="invalid-feedback">
                                        Проверьте корректность заполнения номера.
                                    </div>
                                </div>
                                <div class="col-6">
                                    <label class="form-label" style="color: #814de5">Код банка (BIC)</label>
                                    <input type="text" class="form-control" id="Bank Code (BIC)" placeholder=""
                                           required="" th:field="${newSupplier.bankCode}">
                                    <div class="invalid-feedback">
                                        Проверьте корректность заполнения кода банка (BIC).
                                    </div>
                                </div>
                                <div class="col-12">
                                    <label class="form-label" style="color: #814de5">Наименование банка</label>
                                    <input type="text" class="form-control" id="Bank Name" placeholder="" required=""
                                           th:field="${newSupplier.bankName}">
                                    <div class="invalid-feedback">
                                        Проверьте корректность заполнения наименования банка.
                                    </div>
                                </div>
                            </div>
                            <div class="row g-3">
                                <div class="col-6">
                                    <label class="form-label" style="color: #814de5">УНН</label>
                                    <input type="text" class="form-control" id="UNN" placeholder="" required=""
                                           th:field="${newSupplier.taxId}">
                                    <div class="invalid-feedback">
                                        Проверьте корректность заполнения УНН.
                                    </div>
                                </div>
                                <div class="col-6">
                                    <label class="form-label" style="color: #814de5">ОКПО</label>
                                    <input type="text" class="form-control" id="OKPO" placeholder="" required=""
                                           th:field="${newSupplier.registrationCode}">
                                    <div class="invalid-feedback">
                                        Проверьте корректность заполнения ОКПО.
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button class="w-100 btn btn-primary btn-lg" type="submit"
                                            style="margin-top: 20px;background-color: #814de5; color: #1a1a1c">Сохранить
                                    </button>

                                </div>
                            </div>

                        </form>
                    </div>

                </div>
            </div>
        </div>

        <div class="modal fade" id="moreDetails" tabindex="-1" aria-labelledby="createRequestModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="moreDetailsLabel"> Подробнее</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="row g-3">
                        <div class="col-sm-12">
                            <label class="form-label" style="color: #814de5">Наименование организации</label>
                            <span>Тут напишешь вывод названия</span>
                            <span>тут айди</span>
                        </div>
                        <div class="col-12">
                            <label class="form-label" style="color: #814de5">Юридический адрес</label>
                            <span>Жестко вставишь адрес этого бро</span>
                        </div>


                        <div class="col-6">
                            <label class="form-label" style="color: #814de5">Код банка (BIC)</label>
                            <span> Лучший код банка</span>
                        </div>
                        <div class="col-12">
                            <label class="form-label" style="color: #814de5">Наименование банка</label>
                            <span> Невероятное название банка(не то где надо ехать в ебеня)</span>
                        </div>
                    </div>
                    <div class="row g-3">
                        <div class="col-6">
                            <label class="form-label" style="color: #814de5">УНН</label>
                            <span>Обычный Унн</span>
                        </div>
                        <div class="col-6">
                            <label class="form-label" style="color: #814de5">ОКПО</label>
                            <span>Умопомрачительный ОКПО</span>
                        </div>
                        <div class="modal-footer">
                            <button class="w-100 btn btn-primary btn-lg" type="submit" data-bs-toggle="modal"
                                    data-bs-target="#changeRequestModal"
                                    style="margin-top: 20px;background-color: #814de5; color: #1a1a1c">Изменить
                            </button>
                            <button class="w-100 btn btn-primary btn-lg" type="submit"
                                    style="margin-top: 20px;background-color: #814de5; color: #1a1a1c">Удалить
                            </button>
                        </div>
                    </div>

                    </form>
                </div>

            </div>
        </div>

        <div class="modal fade" id="changeRequestModal" tabindex="-1" aria-labelledby="createRequestModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="changeRequestModalLabel"> Изменить информацию о компании</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form class="needs-validation" id="changeAsAComp" novalidate="" th:object="${newSupplier}"
                              th:action="*{'/client/regAsAComp'}" method="post">

                            <div class="row g-3">
                                <div class="col-sm-12">
                                    <label class="form-label" style="color: #814de5">Наименование организации</label>
                                    <input type="text" class="form-control" id="change Organization Name" required=""
                                           th:field="${newSupplier.organizationName}">
                                    <div class="invalid-feedback">
                                        Проверьте корректность заполнения наименования организации.
                                    </div>
                                </div>
                                <div class="col-12">
                                    <label class="form-label" style="color: #814de5">Юридический адрес</label>
                                    <input type="text" class="form-control" id="change Legal Address"
                                           th:field="${newSupplier.legalAddress}" placeholder="" required="">
                                    <div class="invalid-feedback">
                                        Проверьте корректность заполнения юридического адреса.
                                    </div>
                                </div>
                                <div class="col-12">
                                    <label class="form-label" style="color: #814de5">Телефон</label>
                                    <input type="tel" class="form-control" id="change Phone"
                                           th:field="${newSupplier.phone}"
                                           placeholder="" required="">
                                    <div class="invalid-feedback">
                                        Проверьте корректность заполнения телефона.
                                    </div>
                                </div>
                                <div class="col-12">
                                    <label class="form-label" style="color: #20202c; size: 30px">Почтовый адрес:</label>

                                    <div class="row g-3">
                                        <div class="col-6">
                                            <label class="form-label" style="color: #814de5">Индекс</label>
                                            <input type="text" class="form-control" id="change Postal Code"
                                                   placeholder=""
                                                   th:field="${newSupplier.address.postalCode}" required="">
                                            <div class="invalid-feedback">
                                                Проверьте корректность заполнения почтового индекса.
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <label class="form-label" style="color: #814de5">Город</label>
                                            <input type="text" class="form-control" id="change City" placeholder=""
                                                   th:field="${newSupplier.address.city}" required="">
                                            <div class="invalid-feedback">
                                                Проверьте корректность заполнения города.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <label class="form-label" style="color: #814de5">Адрес</label>
                                        <input type="text" class="form-control" id="change Address" placeholder=""
                                               required=""
                                               th:field="${newSupplier.address.settlement}">
                                        <div class="invalid-feedback">
                                            Проверьте корректность заполнения адреса.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <label class="form-label" style="color: #814de5">Номер</label>
                                    <input type="text" class="form-control" id="change Number" placeholder=""
                                           required=""
                                           th:field="${newSupplier.address.build}">
                                    <div class="invalid-feedback">
                                        Проверьте корректность заполнения номера.
                                    </div>
                                </div>
                                <div class="col-6">
                                    <label class="form-label" style="color: #814de5">Код банка (BIC)</label>
                                    <input type="text" class="form-control" id="change Bank Code (BIC)" placeholder=""
                                           required="" th:field="${newSupplier.bankCode}">
                                    <div class="invalid-feedback">
                                        Проверьте корректность заполнения кода банка (BIC).
                                    </div>
                                </div>
                                <div class="col-12">
                                    <label class="form-label" style="color: #814de5">Наименование банка</label>
                                    <input type="text" class="form-control" id="change Bank Name" placeholder=""
                                           required=""
                                           th:field="${newSupplier.bankName}">
                                    <div class="invalid-feedback">
                                        Проверьте корректность заполнения наименования банка.
                                    </div>
                                </div>
                            </div>
                            <div class="row g-3">
                                <div class="col-6">
                                    <label class="form-label" style="color: #814de5">УНН</label>
                                    <input type="text" class="form-control" id="change UNN" placeholder="" required=""
                                           th:field="${newSupplier.taxId}">
                                    <div class="invalid-feedback">
                                        Проверьте корректность заполнения УНН.
                                    </div>
                                </div>
                                <div class="col-6">
                                    <label class="form-label" style="color: #814de5">ОКПО</label>
                                    <input type="text" class="form-control" id="change OKPO" placeholder="" required=""
                                           th:field="${newSupplier.registrationCode}">
                                    <div class="invalid-feedback">
                                        Проверьте корректность заполнения ОКПО.
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button class="w-100 btn btn-primary btn-lg" type="submit"
                                            style="margin-top: 20px;background-color: #814de5; color: #1a1a1c">Сохранить
                                    </button>

                                </div>
                            </div>

                        </form>
                    </div>

                </div>
            </div>
        </div>

    </div>

    </div>
</main>
</body>
<script>
    document.getElementById('regAsAComp').addEventListener('submit', function (event) {
        event.preventDefault();
        fetch('/client/regAsAComp', {
            method: 'POST',
            body: new FormData(this)
        })
            .then(response => response.json())
            .then(data => {
                if (data.status === "success") {
                    alert(data.message);
                    window.location.href = '/client/regAsAComp';
                } else if (data.status === "bad") {
                    for (const x in data) {
                        if (x !== "bad") {
                            alert(data[x]);
                        }
                    }
                } else {
                    console.error('Произошла ошибка:', data.message);
                }
            })
    });
</script>
</html>