<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="shortcut icon" href="/img/logo.png" type="image/x-icon">
</head>
<div th:insert="blocks/links :: div"></div>
<body style="background-color: #f2f0f8">
<div th:insert="blocks/header :: header"></div>
<div th:insert="blocks/clientSidebare :: clientSidebare"></div>
<main>
  <div class="col-md-7 col-lg-8" style=" margin-left: 27%">
    <h4 class="mb-3" style="color: #814de5">Просмотреть добавленные CMR</h4>
    <div th:name="search-sort" style="width: 950px; display: flex; align-items: center;">
      <div th:name="sort" style="width: 475px; display: flex; align-items: center;">
        <button class="btn btn-primary rounded-pill px-3" type="button" style="color: #f2f0f8; background-color: #814de5; border-color: #814de5">Отсортировать</button>
        <select class="form-select" style="margin-left: 10px; width: 150px">
          <option value="" selected disabled>По признаку</option>
          <option value="признак1">Признак 1</option>
          <option value="признак2">Признак 2</option>
          <option value="признак3">Признак 3</option>
        </select>
      </div>
      <div style="width: 475px; display: flex; align-items: end;">
        <span>с</span>
        <input class="form-control" type="date" placeholder="С" style="margin-left: 10px; width: 120px">
        <span>по</span>
        <input class="form-control" type="date" placeholder="По" style="margin-left: 10px; width: 120px">
      </div>

      <div th:name="search" style="width: 475px; display: flex; align-items: end;">
        <form role="search">
          <input class="form-control" type="search" placeholder="Search" aria-label="Search" style="background-color: #814de5; color: #f2f0f8">
        </form>
        <select class="form-select" style="margin-left: 10px; width: 160px">
          <option value="" selected disabled>По параметру</option>
          <option value="признак1">Параметр 1</option>
          <option value="признак2">Параметр 2</option>
          <option value="признак3">Параметр 3</option>
        </select>
      </div>
    </div>

    <table class="table table-striped table-sm" style="margin-top: 20px">
      <thead>
      <tr>
        <th style="color: #814de5" scope="col">№ CMR</th>
        <th style="color: #814de5" scope="col">Отправитель</th>
        <th style="color: #814de5" scope="col">Получатель</th>
        <th style="color: #814de5" scope="col">Количество товара</th>
        <th style="color: #814de5" scope="col">Дата получения груза</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr th:if="${!crmList.isEmpty()}" th:each="crm:${crmList}">
        <td style="color: #1a1a1c" th:text="${crm.numbers}"></td>
        <td style="color: #1a1a1c" th:text="${crm.sender.registrationCode + ': ' + crm.sender.organizationName}"></td>
        <td style="color: #1a1a1c" th:text="${crm.resipient.registrationCode + ': ' + crm.resipient.organizationName}"></td>
        <td style="color: #1a1a1c" th:text="${crm.volume}"></td>
        <td style="color: #1a1a1c" th:text="${crm.cargoReceivedDate}"></td>
        <td>
          <button th:onclick="|window.location.href='/client/showCMR/' + ${crm.idCRM}|" style="font-weight: bold; background-color: #814de5; color: #f2f0f8">Подробнее</button>
        </td>
      </tr>
      </tbody>

    </table>

  </div>
</main>
</body>
</html>
