<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="shortcut icon" href="/img/logo.png" type="image/x-icon">
    <style>
        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: #1a1a1c;
            opacity: 0.9;
        }

        .modal-content {
            background-color: #f2f0f8;
            opacity: 1;
            margin: 15% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 100%;
            max-width: 600px;
        }

        .close {
            color: #1a1a1c;
            float: right;
            font-size: 28px;
            font-weight: bold;
            cursor: pointer;
        }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
    </style>
</head>
<div th:insert="blocks/links :: div"></div>
<body style="background-color: #f2f0f8">
<div th:insert="blocks/header :: header"></div>
<div th:insert="blocks/userSidebare :: userSidebare"></div>
<main>
    <div class="table-responsive " style="width:960px; margin-top:-88%; margin-left: 27%">
        <h4 class="mb-3" style="color: #814de5"> Оформить отгрузку товара</h4>

        <form class="needs-validation" novalidate="" style="width: 950px" >
            <div class="row g-3">
                <div class="col-sm-3">
                    <label class="form-label" style="color: #814de5">№ Заявки</label>
                    <input type="text" class="form-control" id="numZav" placeholder="" value="" required="">
                    <div class="invalid-feedback" style="color: red">
                        Проверьте корректность заполнения № заявки.
                    </div>
                </div>
                <div class="col-sm-3">
                    <label class="form-label" style="color: #814de5">Вес товара</label>
                    <input type="number" class="form-control" id="weight" placeholder="" value="" step="0.001" required="">
                    <div class="invalid-feedback" style="color: red">
                        Проверьте корректность заполнения веса товара.
                    </div>
                </div>
            </div>

            <div class="row g-3">
                <div class="col-6">
                    <label class="form-label" style="color: #814de5">Дата отгрузки</label>
                    <input type="date" class="form-control" id="arrangeDate" placeholder="">
                    <div class="invalid-feedback" style="color: red">
                        Неверная дата
                    </div>
                </div>
                <div class="col-sm-6">
                    <label class="form-label" style="color: #814de5">Состояние товара</label>
                    <input type="text" class="form-control" id="prodCondition" placeholder="" value="" required="">
                    <div class="invalid-feedback" style="color: red">
                        Проверьте корректность заполнения состояния товара.
                    </div>
                </div>
            </div>

            <div class="row g-3">

                <div class="col-sm-6">
                    <label class="form-label" style="color: #814de5">Наименование товаров</label>
                    <table id="tableProduct">

                     </table>
                </div>
                <div class="col-sm-6">
                    <label class="form-label" style="color: #814de5">Оценка доставки</label>
                    <input type="text" class="form-control" id="deliveryEvaluation" placeholder="" value="" required="">
                    <div class="invalid-feedback" style="color: red">
                        Проверьте корректность заполнения оценки доставки.
                    </div>
                </div>
            </div>
            <button class="w-100 btn btn-primary btn-lg" th:onclick="arrangeShipment()" type="button" style="background-color: #814de5; color: #1a1a1c; margin-top: 20px">Оформить</button>
        </form>
        <div>

</div>
    </div>
</main>

<div id="modal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
       <div style="margin-left: 5%; margin-top: -7%">
           <h2 style="color: #814de5">Список заявок на отгрузку</h2>
        <select id="requestsDropdown" onchange="showSelectedRequest()" style="width: 100%">
            <option>Выбрать заявление</option>
            <option th:if="${!applicationForStorage.isEmpty()}"
                    th:each="ap:${applicationForStorage}"
                    th:value="${ap.idApplication}"
                    th:text="${ap.dateZav}"></option>
        </select>

        <div id="selectedRequest"></div>
        <button onclick="submitForm()" style="width: 500px; background-color: #814de5; color: #1a1a1c; border-radius: 10px; border-color: #814de5; margin-left: 2%">Оформить отгрузку</button>
    </div>
    </div>
</div>

<!-- Добавленные элементы для отображения выбранной заявки и декларации -->
<div id="selectedRequestInfo" style="margin-top: 20px;"></div>
<div id="selectedDeclarationInfo"></div>

<script>
    let countProduct = 0;
    function openModal() {
        var modal = document.getElementById("modal");
        modal.style.display = "block";
    }

    function closeModal() {
        var modal = document.getElementById("modal");
        modal.style.display = "none";
    }

    function showSelectedRequest() {
        var dropdown = document.getElementById("requestsDropdown");
        var selectedRequest = document.getElementById("selectedRequest");

        var selectedOption = dropdown.options[dropdown.selectedIndex].value;
        selectedRequest.textContent = "Выбранная заявка: " + selectedOption;
    }
    function submitForm() {
        var dropdownRequest = document.getElementById("requestsDropdown");
        var selectedRequest = dropdownRequest.options[dropdownRequest.selectedIndex].value;

        document.getElementById("numZav").value = selectedRequest;
        fetch('/user/findProductByApplication/' + selectedRequest, {
            method: 'GET'
        }).then(response => response.json())
            .then(data => {
            data.forEach(p => {
                const tableProduct = document.getElementById("tableProduct");
                let htmlTr = `<tr>
                        <input type="hidden" id="idProduct${countProduct}" value="${p.idProduct}"/>
                        <td id="product${countProduct}">${p.nameProduct}</td>
                        <td>
                            <input type="checkbox" id="isDelivery${countProduct}">
                        </td>
                    </tr>`;
                countProduct++;
                tableProduct.innerHTML += htmlTr; // Используйте += для добавления строки, а не замены
            });
        });
        closeModal();
    }
    window.onload = function() {
        openModal();
    };
   async function arrangeShipment() {
       const numZav = document.getElementById("numZav").value;
       const weight = document.getElementById("weight").value;
       const arrangeDate = document.getElementById("arrangeDate").value;
       const prodCondition = document.getElementById("prodCondition").value;
       const deliveryEvaluation = document.getElementById("deliveryEvaluation").value;

       let checkProduct = {}
       for (let i = 0; i < countProduct; i++) {
           const product = document.getElementById("idProduct" + i).value;
           const isDelivery = document.getElementById("isDelivery" + i).checked;
           checkProduct[product] = isDelivery;
       }
       const deliveryProductDTO = {
           idDeliveryProduct: 0,
           weightProduct: weight,
           arrangeDate: arrangeDate,
           prodCondition: prodCondition,
           deliveryEvalution: deliveryEvaluation,
           idApplicationForStorage: numZav,
           checkProduct: checkProduct
       }
       console.log();
       await fetch('/user/addDelivery', {
           method: 'POST',
           headers: {
               "Content-Type": "application/json"
           },
           body: JSON.stringify(deliveryProductDTO)
       }).then(response => response.json())
           .then(data => {
               if (data.status === "success") {
                   alert(data.message);
               } else if (data.status === "bad") {
                   for (const x in data) {
                       if (x !== "bad") {
                           alert(data[x]);

                       }
                   }
               } else {
                   console.error('Произошла ошибка:', data.message);
               }
           });
   }
</script>

</body>
</html>