<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="shortcut icon" href="/img/logo.png" type="image/x-icon">
</head>
<div th:insert="blocks/links :: div"></div>
<body style="background-color: #f2f0f8">
<div th:insert="blocks/header :: header"></div>
<div th:insert="blocks/userSidebare :: userSidebare"></div>
<main>
  <div class="table-responsive " style="width:950px; margin-top:-88%; margin-left: 27%">
    <h4 class="mb-3" style="color: #814de5">Обработка заявок</h4>
      <div th:name="search-sort" style="width: 950px; display: flex; align-items: center;">
          <div th:name="sort" style="width: 475px; display: flex; align-items: center;">
                  <button class="btn btn-primary rounded-pill px-3" type="button" style="color: #f2f0f8; background-color: #814de5; border-color: #814de5">Отсортировать</button>
                  <select class="form-select" style="margin-left: 10px; width: 150px">
                      <option value="" selected disabled>По признаку</option>
                      <option value="признак1">Признак 1</option>
                      <option value="признак2">Признак 2</option>
                      <option value="признак3">Признак 3</option>
                  </select>
          </div>
          <div style="width: 475px; display: flex; align-items: end;">
              <span>с</span>
              <input class="form-control" type="date" placeholder="С" style="margin-left: 10px; width: 120px">
              <span>по</span>
              <input class="form-control" type="date" placeholder="По" style="margin-left: 10px; width: 120px">
          </div>

          <div th:name="search" style="width: 475px; display: flex; align-items: end;">
              <form role="search">
                  <input class="form-control" type="search" placeholder="Search" aria-label="Search" style="background-color: #814de5; color: #f2f0f8">
              </form>
              <select class="form-select" style="margin-left: 10px; width: 160px">
                  <option value="" selected disabled>По параметру</option>
                  <option value="признак1">Параметр 1</option>
                  <option value="признак2">Параметр 2</option>
                  <option value="признак3">Параметр 3</option>
              </select>
          </div>
      </div>

    <table class="table table-striped table-sm" style="margin-top: 20px">
      <thead>
      <tr>
        <th style="color: #814de5" scope="col">Гос номер авто</th>
        <th  style="color: #814de5" scope="col">ТТН</th>
        <th  style="color: #814de5" scope="col">Номер декларации</th>
        <th  style="color: #814de5" scope="col">Номер CRM</th>
        <th  style="color: #814de5" scope="col">Статус</th>
          <th></th>
          <th></th>
        <th></th>
      </tr>
          </thead>
   <tbody>
    <tr th:if="${applications}" th:each="ap:${applications}">
        <td  style="color: #1a1a1c" th:text="${ap.truck.registrationNumber}"/>
        <td  style="color: #1a1a1c" th:text="${ap.goodTransportDocument.goodsTransportDocumentNumbers}"/>
        <td  style="color: #1a1a1c" th:text="${ap.declarationTD.declarationNumber}"/>
        <td  style="color: #1a1a1c" th:text="${ap.crm.numbers}"/>
        <td  style="color: #1a1a1c" th:text="${ap.statusApplication.getRussianName().get(ap.statusApplication)}"/>
        <td><a th:href="*{'/user/readApplication/'+ ap.idApplication}"><input type="button" value="Подробнее" style="font-weight: bold;background-color: #814de5; color: #f2f0f8"  data-bs-toggle="modal"  data-bs-target="#modalDetails"></a><td/>
        <td><input type="button" value="Принять" th:onclick="|window.location.href='/user/changeStatusApplicationForStorage/PROCESSING/' + ${ap.idApplication}|" style="font-weight: bold; background-color: #814de5; color: #f2f0f8 "></td>
        <td><input type="button" value="Отклонить" th:onclick="|window.location.href='/user/changeStatusApplicationForStorage/CANCELLED/' + ${ap.idApplication}|" style="font-weight: bold; background-color: #814de5; color: #f2f0f8"></td>
    </tr>
         </tbody>
    </table>

  </div>

    <div class="modal fade" id="modalDetails" tabindex="-1" role="dialog" aria-labelledby="modalDetailsLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalDetailsLabel">Подробности заказа</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <label class="form-label">№ заявки:</label>
                            <span id="orderNumber"></span>
                        </div>
                        <div class="col-sm-6">
                            <label class="form-label">Количество позиций товаров:</label>
                            <span id="itemCount"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <label class="form-label">Дата поставки:</label>
                            <span id="deliveryDate"></span>
                        </div>
                        <div class="col-sm-6">
                            <label class="form-label">Дата заявки:</label>
                            <span id="orderDate"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <label class="form-label">Статус заявки:</label>
                            <span id="orderStatus"></span>
                        </div>
                        <div class="col-sm-6">
                            <label class="form-label">ТТН:</label>
                            <span id="ttn"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <label class="form-label">Декларация:</label>
                            <span id="declaration"></span>
                        </div>
                        <div class="col-sm-6">
                            <label class="form-label">CMR:</label>
                            <span id="cmr"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script src="/js/changer.js">

</script>
</html>