<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="shortcut icon" href="/img/logo.png" type="image/x-icon">
</head>
<div th:insert="blocks/links :: div"></div>
<body style="background-color: #f2f0f8">
<div th:insert="blocks/header :: header"></div>
<div th:insert="blocks/userSidebare :: userSidebare"></div>
<main>
    <div class="table-responsive " style="width:950px;  margin-left: 27%">
        <h4 class="mb-3" style="color: #814de5">Оформление отпуска товара</h4>
        <form action="/user/filter/relesionReg" method="get">
            <div th:name="search-sort" style="width: 950px; display: flex; align-items: center;">
                <div th:name="sort" style="width: 475px; display: flex; align-items: center;">
                    <select name="howSort"
                            class="form-select">
                        <option value="asc" >По возрастанию</option>
                        <option value="desc">По убыванию</option>
                    </select>
                    <select class="form-select" name="sortCriteria" style="margin-left: 10px; width: 150px">
                        <option value="" >По признаку</option>
                        <option value="date">По дате</option>
                        <option value="product.nameProduct">По наименованию товара</option>
                        <option value="product.grossWeight">По весу брутта</option>
                        <option value="product.netWeight">По весу нетта</option>

                    </select>
                </div>
                <div style="width: 475px; display: flex; align-items: end;">
                    <span>с</span>
                    <input class="form-control" name="dateForm" type="date" placeholder="С" style="margin-left: 10px; width: 120px">
                    <span>по</span>
                    <input class="form-control" name="dateTo" type="date" placeholder="По" style="margin-left: 10px; width: 120px">
                </div>

                <div th:name="search" style="width: 475px; display: flex; align-items: end;">
                    <input class="form-control" name="searchQuery" type="search" placeholder="Search" aria-label="Search"
                           style="background-color: #814de5; color: #f2f0f8">
                    <select class="form-select" name="searchParam" style="margin-left: 10px; width: 160px">
                        <option value="" >По признаку</option>
                        <option value="product.nameProduct">По наименованию товара</option>
                        <option value="product.grossWeight">По весу брутта</option>
                        <option value="product.netWeight">По весу нетта</option>
                    </select>
                </div>
            </div>
            <button type="submit" class="btn btn-primary rounded-pill px-3"  style="color: #f2f0f8; background-color: #814de5; border-color: #814de5">
                Отфильтровать данные
            </button>
        </form>
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th style="color: #814de5" scope="col">Дата отгрузки</th>
                <th style="color: #814de5" scope="col">Товар</th>
                <th style="color: #814de5" scope="col">Вес брутто</th>
                <th style="text-align: center; color: #814de5" scope="col">Вес нетто</th>
                <th style="color: #814de5; vertical-align: top;" scope="col">Клиент</th>
                <th style="color: #814de5; vertical-align: top;" scope="col">Оформление</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${!applicationList.isEmpty()}" th:each="ap:${applicationList}" th:class="${ap.date > #dates.createNow()} ? 'table-success' : 'table-danger'" >
                <td th:text="${ap.date}"/>
                <td th:text="${ap.product.nameProduct}"/>
                <td th:text="${ap.product.grossWeight}"/>
                <td th:text="${ap.product.netWeight}"/>
                <td th:text="${ap.getAccount().getSurname() +' '+ ap.getAccount().getName() + ' ' + ap.getAccount().getName()}"/>
                <td><input th:onclick="|changeStatusApplication(${ap.idApplicationForRelease})|" type="button" value="Оформить отгрузку" style="font-weight: bold;"></td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
</body>
<script>
    function changeStatusApplication(idApp){
        fetch('/user/changeStatusApplicationForRelease/' + idApp,{
            method: 'GET'
        }) .then(data=>{
                alert("Отпуск товара оформлен!");
                window.location.href ='/user/relesionReg';
            });
    }
</script>
</html>