<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
  <link rel="shortcut icon" href="/img/logo.png" type="image/x-icon">
</head>
<div th:insert="blocks/links :: div"></div>
<body style="background-color: #f2f0f8">
<div th:insert="blocks/header :: header"></div>
<div th:insert="blocks/userSidebare :: userSidebare"></div>
<main>
  <div class="table-responsive " style="width:1200px; margin-top:-88%; margin-left: 27%">
    <h4 class="mb-3" style="color: #814de5">Обработка заявок</h4>
    <form action="/user/filter/showSuppliers" method="get">
      <div th:name="search-sort" style="width: 950px; display: flex; align-items: center;">
        <div th:name="sort" style="width: 475px; display: flex; align-items: center;">
          <select name="howSort"
                  class="form-select">
            <option value="asc" selected disabled>По возрастанию</option>
            <option value="desc">По убыванию</option>
          </select>
          <select class="form-select" name="sortCriteria" style="margin-left: 10px; width: 150px">
            <option value="" selected disabled>По признаку</option>
            <option value="organizationName">По по наименованию органанизации</option>
            <option value="legalAddress">По юр. адресу</option>
            <option value="phone">По номеру телефона</option>
            <option value="bankCode">По коду банка</option>
            <option value="bankName">По наименовнаию банка</option>
            <option value="taxId">По ОКПО</option>
            <option value="registrationCode">По УНП</option>

          </select>
        </div>

        <div th:name="search" style="width: 475px; display: flex; align-items: end;">
          <input class="form-control" name="searchQuery" type="search" placeholder="Search" aria-label="Search"
                 style="background-color: #814de5; color: #f2f0f8">
          <select class="form-select" name="searchParam" style="margin-left: 10px; width: 160px">
            <option value="" selected disabled>По признаку</option>
            <option value="organizationName">По по наименованию органанизации</option>
            <option value="legalAddress">По юр. адресу</option>
            <option value="phone">По номеру телефона</option>
            <option value="bankCode">По коду банка</option>
            <option value="bankName">По наименовнаию банка</option>
            <option value="taxId">По ОКПО</option>
            <option value="registrationCode">По УНП</option>

          </select>
        </div>
      </div>
      <button type="submit" class="btn btn-primary rounded-pill px-3"  style="color: #f2f0f8; background-color: #814de5; border-color: #814de5">
        Отфилтровать данные
      </button>
    </form>

    <table class="table table-striped table-sm" style="margin-top: 20px">
      <thead>
      <tr>
        <th style="color: #814de5" scope="col">Наименование органзиации</th>
        <th style="color: #814de5" scope="col">Юридический адрес</th>
        <th style="color: #814de5" scope="col">Номер телефона</th>
        <th style="color: #814de5" scope="col">Адрес</th>
        <th style="color: #814de5" scope="col">Банковская информация</th>
        <th style="color: #814de5" scope="col">УНН</th>
        <th style="color: #814de5" scope="col">ОКПО</th>
        <th style="color: #814de5" scope="col">Номер заявки</th>
      </tr>
      </thead>
      <tbody>
      <tr th:if="${!suppliers.isEmpty()}" th:each="sup:${suppliers}">
        <td style="color: #1a1a1c" th:text="${sup.organizationName}"/>
        <td style="color: #1a1a1c" th:text="${sup.legalAddress}"/>
        <td style="color: #1a1a1c" th:text="${sup.phone}"/>
        <td style="color: #1a1a1c" th:text="${sup.address.city + ', ' + sup.address.postalCode + ' ' + sup.address.build}"/>
        <td style="color: #1a1a1c" th:text="${sup.bankName + ', ' + sup.bankCode}"/>
        <td style="color: #1a1a1c" th:text="${sup.registrationCode}"/>
        <td style="color: #1a1a1c" th:text="${sup.taxId}"/>
        <td><input type="button" value="Подробнее" th:onclick="|findSuppliers(${sup.idSupplier})|" style="font-weight: bold; background-color: #814de5; color: #f2f0f8" data-bs-toggle="modal"  data-bs-target="#modalOrganizationInfo"></td>
      </tr>
      </tbody>
    </table>

  </div>

  <div class="modal fade" id="modalOrganizationInfo" tabindex="-1" role="dialog" aria-labelledby="modalOrganizationInfoLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalOrganizationInfoLabel">Информация об организации</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="nameCompany">Наименование организации:</label>
            <span id="nameCompany"></span>
          </div>
          <div class="form-group">
            <label for="legacyAddress">Юр. адрес:</label>
            <span id="legacyAddress"></span>
          </div>
          <div class="form-group">
            <label for="bankKode">Код банка (BIC):</label>
            <span id="bankKode"></span>
          </div>
          <div class="form-group">
            <label for="nameBank">Наименование банка:</label>
            <span id="nameBank"></span>
          </div>
          <div class="form-group">
            <label for="UNNCode">УНН:</label>
            <span id="UNNCode"></span>
          </div>
          <div class="form-group">
            <label for="OKPOCode">ОКПО:</label>
            <span id="OKPOCode"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
</body>
<script src="/js/changer.js">
</script>
</html>