<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="shortcut icon" href="/img/logo.png" type="image/x-icon">
</head>
<div th:insert="blocks/links :: div"></div>
<body style="background-color: #f2f0f8">
<div th:insert="blocks/header :: header"></div>
<div th:insert="blocks/userSidebare :: userSidebare"></div>
<main>
    <div class="table-responsive " style="width:950px; margin-top:-88%; margin-left: 27%">
        <h4 class="mb-3" style="color: #814de5"> Просмотр отгрузок</h4>
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th style="color: #814de5" scope="col">Дата отгрузки</th>
                <th  style="color: #814de5" scope="col">Состояние товара </th>
                <th  style="color: #814de5" scope="col">Вес товара</th>
                <th  style="text-align: center; color: #814de5" scope="col">Список наименований товара и номер декларации </th>
                <th style="color: #814de5; vertical-align: top;" scope="col">Поставщик</th>
                <th  style="color: #814de5;  vertical-align: top;" scope="col">Сотрудник </th>
                <th ></th>
                <th></th>
            </tr>
            </thead>
            <!--   <tbody>-->
            <!--    <tr th:each="">-->
            <!--   <td  style="color: #1a1a1c" th:text="${}"/>-->
            <!--   <td  style="color: #1a1a1c" th:text="${}"/>-->
            <!--   <td  style="color: #1a1a1c" th:text="${}"/>-->
            <!--   <td  style="color: #1a1a1c" th:text="${}"/>-->
            <!--   <td  style="color: #1a1a1c" th:text="${}"/>-->
            <!--   <td  style="color: #1a1a1c" th:text="${}"/>-->
            <!--   <td><input type="button" value="Изменить" style="font-weight: bold;"></td>-->
            <!--   <td><input type="button" value="Удалить" style="font-weight: bold;"></td>-->
            <!--    </tr>-->
            <!--         </tbody>-->
        </table>
    </div>
</main>
</body>

</html>