<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="shortcut icon" href="/img/logo.png" type="image/x-icon">
</head>
<div th:insert="blocks/links.html :: div"></div>
<body style="background-color: #f2f0f8">
<div th:insert="blocks/header.html :: header"></div>
<div th:insert="blocks/userSidebare.html :: userSidebare"></div>
<main>
    <div style="margin-top: 5%">
    <div style="height: 440px; width: 500px; margin-top: -84%; margin-left: 58%">
    <div style="width: 550px; height: 300px;  background-color: #814de5; border-radius: 150px 0 0 150px;"></div>
    <img src="/img/main.png" style="height: 512px; width: 512px; margin-top: -79%">
    </div>

    <div style="height: 500px; width: 550px; margin-top: -36%; margin-left: 27%">
        <h1> Рабочее место сотрудника</h1>
        <div style="width: 400px; ">
        <h3> В этой программе работник склада временного хранения может выполнять основные задачи, такие как:</h3>
        <ul>
            <li>Работа с заявками</li>
            <li>Отгрузка товара</li>
            <li>Отпуск товара</li>
            <li>Работа с отчётами</li>
        </ul>
        </div>
    </div>
    </div>
</main>
</body>

</html>