
<div th:fragment="adminSidebare" class="flex-shrink-0 p-3" style="position: fixed; width: 330px;  height: 600vh; background-color: #1a1a1c; margin-top: -7.7%">
    <a href="/admin/" class="d-flex align-items-center pb-3 mb-3 link-body-emphasis text-decoration-none " style=" border-bottom: #814de5; border-bottom-style: double">
        <svg class="bi pe-none me-2" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
        <div style=" background-color: #814de5; border-radius: 30%; margin-right: 5%">
            <img src="/img/logo.png" style="height: 55px; width: 55px; "></div>
        <span class="fs-4 fw-semibold" style="margin-right: 25%; white-space: nowrap; color: #f2f0f8 ">Панель администратора</span>
    </a>
    <ul class="list-unstyled ps-0">
        <li class="mb-1" style=" color: #bab7c9 " >
            <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true " style=" color: #f2f0f8">
                <img src="/img/userManagm.png" style="height: 25px; width: 25px; margin-right: 10px;">
                <span style="margin-left: 3px;">  Управление пользователями </span>
            </button>
            <div class="collapse show " id="home-collapse" >
                <ul class="btn-toggle-nav ps-4.5  fw-normal pb-1 small">
                    <li><a href="/admin/showAccounts" class="d-inline-flex text-decoration-none rounded" style="color:#bab7c9;">Просмотр аккаунтов </a></li>
                    <li><a href="/admin/showAdmins" class=" d-inline-flex text-decoration-none rounded" style="color: #bab7c9;">Просмотреть администратора системы </a></li>

                </ul>
            </div>
        </li>
        <li class="mb-1" style=" color: #bab7c9 ">
            <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false" style=" color: #f2f0f8">
                <img src="/img/activLog.png" style="height: 25px; width: 25px; margin-right: 10px;">
                <span style="margin-left: 3px;">  Журналы действий </span>
            </button>
            <div class="collapse" id="dashboard-collapse">
                <ul class="btn-toggle-nav ps-4.5 fw-normal pb-1 small">
                    <li><a href="#" class=" d-inline-flex text-decoration-none rounded" style="color:#bab7c9;" >Просмотреть журнал заявок</a></li>
                    <li><a href="#" class=" d-inline-flex text-decoration-none rounded" style="color:#bab7c9;" >Просмотреть журнал отгрузок</a></li>
                    <li><a href="#" class=" d-inline-flex text-decoration-none rounded" style="color:#bab7c9;" >Просмотреть журнал отпуска товара</a></li>

                </ul>
            </div>
        </li>
        <li class="mb-1" style=" color: #bab7c9 ">
            <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false" style="color: #f2f0f8;">
                <img src="/img/sysRev.png" style="height: 25px; width: 25px; margin-right: 10px;">
                <span style="margin-left: 3px;"> Обзор системы </span>
            </button>
            <div class="collapse" id="orders-collapse">
                <ul class="btn-toggle-nav ps-4.5 fw-normal pb-1 small">
                    <li><a href="#" class=" d-inline-flex text-decoration-none rounded" style="color:#bab7c9;" >Просмотреть все товары на складе</a></li>
                    <li><a href="#" class=" d-inline-flex text-decoration-none rounded" style="color:#bab7c9;" >Просмотреть промаркированный товар</a></li>
                    <li><a href="#" class=" d-inline-flex text-decoration-none rounded" style="color:#bab7c9;" >Просмотреть варианты маркировки товара</a></li>
                </ul>
            </div>
        </li>

        <li class="mb-1" style=" color: #bab7c9 " >
            <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#quality-control" aria-expanded="false" style=" color: #f2f0f8">
                <img src="/img/oKach.png" style="height: 25px; width: 25px; margin-right: 10px;">
                <span style="margin-left: 3px;">  Контроль качества </span>
            </button>
            <div class="collapse" id="quality-control" >
                <ul class="btn-toggle-nav ps-4.5  fw-normal pb-1 small">
                    <li><a href="/admin/formKachQuality" class="d-inline-flex text-decoration-none rounded" style="color:#bab7c9;">Сформировать оценку качества </a></li>
                    <li><a href="#" class=" d-inline-flex text-decoration-none rounded" style="color: #bab7c9;">График качества оказания услуг </a></li>
                    <li><a href="/admin/showOcForObsl" class=" d-inline-flex text-decoration-none rounded" style="color: #bab7c9;">Вывод оценок за оказание услуг </a></li>
                    <li><a href="#" class=" d-inline-flex text-decoration-none rounded" style="color: #bab7c9;">Вывод отчета за оказание услуг </a></li>

                </ul>
            </div>
        </li>

        <li class="mb-1" style=" color: #bab7c9 ">
            <button  class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" style="color: #f2f0f8;">
                <a th:href="*{'/openChat'}" class=" d-inline-flex text-decoration-none rounded" style="color:#f2f0f8;">
                    <img src="/img/chat.png" style="height: 25px; width: 25px; margin-right: 10px;">
                    <span style="margin-left: 3px;"> Чат для связи </span>
                </a>
            </button>
        </li>
    </ul>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</div>